@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns:og="ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iQ media Client IT Information</title>@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />*@
    <link href="../../Css/Fonts.css" rel="stylesheet" type="text/css" />
    <link href="../../Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js?v=1.0"></script>
    <![endif]-->
    <!-- Customizable CSS -->
    <link href="~/css/feed.css?v=3.2" rel="stylesheet" type="text/css" />
    <link href="~/css/MasterInner.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 40px; /*padding-bottom: 40px;*/
            font-family: 'Open Sans';
        }
    </style>
</head>
<body id="mainBody">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #fff;">
        <!-- from desinger-->
        <div class="container">
        </div>
        <!-- from desinger-->
        <div class="navbar-inner navbar-custome">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand iqmedia-logo" href="#">
                    <img src="~/images/iq-media.png?v=1.3" width="155" height="45" alt="IQ Media" /></a>
                <div class="nav-collapse collapse">
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container container_custom">
        <div class="row-fluid" id="divRowFluid">
            <div style="min-height: 500px; padding: 25px;">
                <div style="padding-bottom: 5px; border-bottom: solid 1px #dadada; font-size: 18px;">
                    Client IT Information
                </div>
                <div>
                    <h3>
                        Supported browsers</h3>
                    <p>
                        iQMedia recommends & supports following browsers for its platform:</p>
                    <ul>
                        <li>Internet Explorer 9.0+</li>
                        <li>Firefox 27+</li>
                        <li>Chrome 32+</li>
                    </ul>
                    <h3>
                        Network Firewall</h3>
                    <p>
                        With iQMedia'a cliQ product, users can engage with broadcast media using traditional
                        tools such as Adobe Flash Player(copyright logo). Often times, corporations using
                        strict Network Firewall rules prohibit video playback and need to make changes to
                        accommodate such requests.
                    </p>
                    <p>
                        iQMedia recommends the following changes in order to playback videos generated from
                        the platform:</p>
                    <ul>
                        <li>Whitelist the following IP addresses
                            <ul>
                                <li>.......</li>
                                <li>.......</li>
                            </ul>
                        </li>
                        <li>Ensure TCP/UDP port 1935 is open for communication.</li>
                    </ul>
                    <p>
                        For any other Customer support, please contact us at 855-476-3342 Option 2.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@*<script src="~/Scripts/jquery-ui-1.9.2.custom.min.js?v=1.0" type="text/javascript"></script>*@
<script src="../../Scripts/jquery-ui.min.js?v=1.0" type="text/javascript"></script>
<script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js?v=1.0" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#divCC").mCustomScrollbar({
            advanced: {
                updateOnContentResize: true,
                autoScrollOnFocus: false
            }
        });
    });
</script>
</html>
