@{
    
    ViewBag.Title = "Highly Faceted Search & Global TV Data Through API Access | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Our industry-exclusive data and highly faceted search can be leveraged anywhere. Make it yours." />
    <meta name="author" content="iQ media" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Highly Faceted Search & Global TV Data Through API Access">
    <meta itemprop="description" content="Our industry-exclusive data and highly faceted search can be leveraged anywhere. Make it yours.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/Api/Api_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/Api/Api_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Highly Faceted Search & Global TV Data Through API Access">
    <meta name="twitter:description" content="Our industry-exclusive data and highly faceted search can be leveraged anywhere. Make it yours.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Highly Faceted Search & Global TV Data Through API Access" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/api/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/Api/Api_header.png" />
    <meta property="og:description" content="Our industry-exclusive data and highly faceted search can be leveraged anywhere. Make it yours." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="canonical" href="https://iqmediacorp.com/api" />

    <link rel="Stylesheet" type="text/css" href="~/Css/api.css?v=1.3" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#liProducts').siblings().removeClass('active')
            $('#liProducts').addClass('active');
        });
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/Api/Api_header.png" class="img100" alt="api, access to television data in the cloud" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="blue-txt">
                we pick up where most listening<span style="display: block;">platforms fall short.</span></h1>
            <p>
                iQ media integrates the most impactful media audience behaviors together and funnels
                that information directly to product managers and developers. Our platform addresses
                social media listening fatigue with a fuller, more accurate representation of how
                your brand is perceived online and on television—all made available in a customizable
                tool that exactly fits your organization's needs.
            </p>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: url(../Images/home_new/Api/Api_hiw.png) no-repeat;
    background-size: 100% auto;color:#fff;">
    <div class="container">
        <div class="row">
            <h1 class="orange-txt" style="text-align: center;">
                how it works:
            </h1>
            <p style="text-align: center;">
                Our API provides users with unprecedented access to millions of hours of highly
                searchable television analysis, dating back to 2010. Data includes 20+ million hours
                of closed captioning and industry-exclusive 360° listening capabilities for research
                and campaign planning.</p>
            <p style="text-align: center;">
                API access is made easily digestible via JSON or XML format, which can be delivered
                full fire hose or by Push/resting API.
            </p>
            <div style="text-align: center; margin: 60px 0px 80px;">
                <a href="http://info.iqmediacorp.com/iq-media-contact-us" target="_blank" class="contactus">contact
                    us</a>
            </div>
        </div>
    </div>
</div>
