@{
    
    ViewBag.Title = "iQ media Copyright Abuse Policy";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/copyright/copyright_header.png" class="img100" alt="copyright abuse policy" />
</div>
<div class="jumbotron white-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="heading01 mbp3">
                            Copyright Abuse Policy</div>
                        <p class="small-text">
                            iQ Media Group Inc. (“iQ media”) is committed to protecting the rights of copyright
                            holders, including broadcast content owners. Among other protections, iQ media requires
                            all users to limit their use of content in the iQ media database to fair uses and
                            other non-infringing uses permitted by copyright law. By the same token, iQ media
                            encourages rights holders to notify us of any infringements. We enforce a policy
                            that provides for the termination of users who are repeat infringers.</p>
                        <p class="small-text">
                            To file a copyright infringement notification with us, you will need to send a written
                            communication that includes substantially the following (please consult your legal
                            counsel or see Section 512©(3) of the Digital Millennium Copyright Act to confirm
                            these requirements):</p>
                        <p class="small-text">
                            A physical or electronic signature of a person authorized to act on behalf of the
                            owner of an exclusive right that is allegedly infringed.</p>
                        <p class="small-text">
                            Identification of the copyrighted work claimed to have been infringed, or, if multiple
                            copyrighted works at a single online site or location are covered by a single notification,
                            a representative list of such works at that site or location.</p>
                        <p class="small-text">
                            Identification of the material that is claimed to be infringing or to be the subject
                            of infringing activity and that is to be removed or access to which is to be disabled,
                            and information reasonably sufficient to permit iQ media to locate the material.
                            Providing URLs in the body of an email, where practical, is the best way to help
                            us locate content quickly.</p>
                        <p class="small-text">
                            Information reasonably sufficient to permit iQ media to contact the complaining
                            party, such as an address, telephone number, and, if available, an electronic mail
                            address at which the complaining party may be contacted.</p>
                        <p class="small-text">
                            A statement that the complaining party has a good faith belief that use of the material
                            in the manner complained of is not authorized by the copyright owner, its agent,
                            or the law.</p>
                        <p class="small-text">
                            A statement that the information in the notification is accurate, and under penalty
                            of perjury, that the complaining party is authorized to act on behalf of the owner
                            of an exclusive right that is allegedly infringed.</p>
                        <p class="small-text">
                            You may send written or email notification to our designated copyright agent at
                            the following address:<br />
                            Attention: Copyright Agent<br />
                            iQ Media Group Inc.<br />
                            1001 East Hector Street<br />
                            Suite 401<br />
                            Conshohocken, PA 19428<br />
                            copyright@iqmediacorp.com</p>
                        <p class="small-text">
                            Please note that under Section 512(f) of the Digital Millennium Copyright Act any
                            person who knowingly materially misrepresents that material or activity is infringing
                            may be subject to liability for damages. Don’t make false claims!</p>
                        <p class="small-text">
                            Please also note that the information provided in this legal notice may be forwarded
                            to the person who provided the allegedly infringing content.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            Retractions</div>
                        <p class="small-text">
                            After submitting a copyright infringement notification, copyright owners may realize
                            they misidentified content or they may otherwise change their mind. You may submit
                            a retraction by contacting our copyright agent at the postal and email address provided
                            above. We are always glad to honor retractions of copyright claims from the party
                            who originally submitted them.<br />
                            Please note that under Section 512(f) of the Copyright Act, any person who knowingly
                            materially misrepresents that material or activity was removed or disabled by mistake
                            or misidentification may be subject to liability. Please also be advised that we
                            enforce a policy that provides for the termination of users who are repeat infringers.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            Counter-notifications</div>
                        <p class="small-text">
                            If you are the subject of a copyright infringement notification and believe you
                            possess all necessary rights to use content in the manner that is being complained
                            about, you may wish to file a counter-notification under the Digital Millennium
                            Copyright Act. To file a counter-notification with us, you must provide a written
                            communication that sets forth the items specified below.</p>
                        <p class="small-text">
                            Please understand that filing a counter-notification may lead to legal proceedings
                            between you and the complaining party. Be aware that there may be adverse legal
                            consequences in your country if you make a false or bad faith allegation by using
                            this process.</p>
                        <p class="small-text">
                            Please also be advised that we enforce a policy that provides for the termination
                            of users who are repeat infringers, and our contracts also provide us with additional
                            rights to terminate you or disable access to content in certain circumstances. If
                            you are not sure whether certain material infringes the copyrights of others, we
                            suggest that you first contact a lawyer.</p>
                        <p class="small-text">
                            A counter-notification must include the following specific elements:</p>
                        <p class="small-text">
                            Identification of the specific URLs (or other location) of material that iQ media
                            has removed or to which iQ media has disabled access.</p>
                        <p class="small-text">
                            Your full name, address, telephone number, email address, and the username of your
                            iQ media account.</p>
                        <p class="small-text">
                            The statement: “I consent to the jurisdiction of the Federal District Court for
                            the district in which my address is located, or if my address is outside of the
                            United States, the judicial district in which iQ media is located, and will accept
                            service of process from the claimant.”</p>
                        <p class="small-text">
                            The statement: “I swear, under penalty of perjury, that I have a good faith belief
                            that the material was removed or disabled as a result of a mistake or misidentification
                            of the material to be removed or disabled.”
                        </p>
                        <p class="small-text">
                            Signature. A scanned physical signature or a valid electronic signature will be
                            accepted.</p>
                        <p class="small-text">
                            We can only accept a counter-notification directly from the user from whose account
                            material has been disabled. For verification, we require that counter-notifications
                            be submitted from the email address associated with the account.</p>
                        <p class="small-text">
                            After we receive your counter-notification, we will forward it to the party who
                            submitted the original claim of copyright infringement. Please note that when we
                            forward the counter-notification, it includes your personal information. By submitting
                            a counter-notification, you consent to having your information revealed in this
                            way.</p>
                        <p class="small-text mbp0">
                            After we send out the counter-notification, the claimant must then notify us within
                            10 business days that he or she has filed an action seeking a court order to restrain
                            you from engaging in infringing activity relating to the material that is the subject
                            of the complaint. If we receive such notification we will be unable to restore the
                            material. If we do not receive such notification, we may in our sole and absolute
                            discretion reinstate access to the material.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
