.ov-img
{
    text-align:center; 
}

.ov-captures h2
{
    margin-top:0px;
}

.ov-captures .row
{
    margin-top:20px;    
    margin-bottom:40px;
}

.ov-captures .row p
{
    font-size:18px;    
}