@charset "utf-8";
/* CSS Document */

.title h3{
	font: 28px/25px 'open_sansregular';

}
.gray-bg-title{
	background-color:#f6f5f5;
	padding:6px 10px;
}




/*Left Nav*/
.floatNone li
{
float:none !important;
}

.sideMenu
{
top:-2px;
left:100%;
/*border-radius:0px !important;*/
max-height:200px;
    overflow-y:auto;
    padding:10px;
}
.sideMenuUl{
	margin-bottom:20px;
}
.sideMenu > li
{
    border-bottom:1px solid #EBEBEB;
    padding:5px; 
}
.sideMenu > li > a
{
    padding:0px;
    font-size:13px; 
}

.sideMenuUl > li
{
    border-bottom:1px solid #EBEBEB;
    padding-left:40px;
}

.sideMenuUl > li:hover
{
   background-color:#E9E9E9 !important;
}

.sideMenuUl > li.open
{
    background-color:#E9E9E9 !important;
}

.width100p
{width:100%;
}

.spnArrow
{
    background:url("../images/arrow.png") no-repeat scroll right -10px transparent;
    right:10px;
    width : 13px;
    position:absolute;
}


.sideMenuUl li.ndate {
	background:url(../images/mgnt-icon.png) no-repeat 10px top;	
}

.sideMenuUl  li.nagent {
	background:url(../images/agent-icon.png) no-repeat 10px top;	
}

.sideMenuUl  li.nmedium {
	background:url(../images/news-icon.png) no-repeat 10px top;	
}
.sideMenuUl  li.nsentiment {
	background:url(../images/careers-icon.png) no-repeat 10px top;	
}


#sticker {
      background: #FFF;
      color: white;
      display:block;
      font-family: Droid Sans;
      font-size: 40px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      /*width:1286px;*/
	  width:100%;
	  /*border-bottom:solid 1px #CCC;*/
	  padding-top:10px;
    }

@media (max-width: 767px) {
#divStickerParent {
      display:none;
	  overflow:hidden;
	  height:0px;
     
    }
.sideMenu
    {
    top:95%;
    left:10%;
    max-height:200px;
        overflow-y:auto;
        padding:10px;        
    }
}





@media (max-width: 480px) {
	
	.date {
		width:75% !important;
	}
	.sideMenu
	{
	    left:-35px;
	    margin-bottom:10px;
	    position:relative;
	    width:100%;
	    top:0%;
	    min-width:0px;
	}
	
	.sideMenuUl > li.open
	{
	    clear:both;
	    overflow:hidden;
	}
}