@{
    
    ViewBag.Title = "iQ media Contact Us";
    Layout = "~/Views/Shared/_IQMediaMasterInner.cshtml";
}

<div class="container container_custom">
    <div class="row-fluid" id="divRowFluid">
        <div class="span12" style="min-height:300px;margin-top:100px;text-align:center;">
            <span>An error occurred, please <a href="~/ContactUs">try again.</a></span>
        </div>
    </div>
    </div>
