@{
    ViewBag.Title = "iQ media Customers";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages.cshtml";
}
@section HeaderImage
{
    <img src="~/Images/staticbanner/Customers.jpg" alt="Customers" />
}
@section Content
{
    <div style="padding: 0 40px;">
        <div class="span8 padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Michael_Danylak_Republican_National_Committee.png"
                            alt="" /></div>
                    <div class="customer-info">
                        <span>Michael Danylak,<br />
                            Director</span><br />
                        <span><strong>Republican National Committee</strong></span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span>
                <span class="CustomerRight">This product is crucial to our operation on a daily basis.
                    It enables us to clip, archive, respond, and monitor the media as needed. The product
                    continues to improve and the changes are always positive. The staff with IQ Media
                    is very helpful and work hard to make the product meet your needs as a client. I
                    would highly recommend them to anyone looking for the best media monitoring software
                    out there.<img alt="Quote" src="../../Images/Static/Quote_End.png" class="endQuote" /></span>
            </div>
        </div>
        <div class="span8 offset2 padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Matthew_Streit_Heritage_Foundation.png" alt="" /></div>
                    <div class="customer-info">
                        <span>Matthew Streit,<br />
                            Director of Broadcast Services</span><br />
                        <span><strong>The Heritage Foundation</strong></span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span>
                <span class="CustomerRight">IQ Media’s broadcast monitoring platform, cliQ, is an innovative
                    new product for PR professionals. The platform goes beyond traditional monitoring,
                    allowing users to both make clips within the cliQ portal as well as embed video
                    on their respective sites. IQ Media also stores all broadcast content and your library
                    of clips indefinitely. To top it all off, the staff at IQ Media is customer-focused
                    making this the best product on the market.
                    <img alt="Quote" src="../../Images/Static/Quote_End.png" class="endQuote" /></span>
            </div>
        </div>
        <div class="span8 nomarginleft padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Larry_Dougherty_Temple.png" alt="" /></div>
                    <div class="customer-info">
                        <span>Larry Dougherty,<br />
                            Senior Associate Athletic Director</span><br />
                        <span><strong>Temple University</strong></span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span>
                <span class="CustomerRight">cliQ enables us to magnify the value of the TV coverage
                    Temple gets, because we can push out positive PR almost as soon as it airs. Using
                    video in email and on social sites gives us greater audience engagement because
                    more people will click to view a video than read everything in a newsletter.<img
                        alt="Quote" src="../../Images/Static/Quote_End.png" class="endQuote" /></span>
            </div>
        </div>
        <div class="span8 offset2 padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Brian_Bowsher_Miami.png" alt="" /></div>
                    <div class="customer-info">
                        <span>Brian Bowsher,<br />
                            Digital Media Strategist</span><br />
                        <span><strong>University of Miami Athletic Department</strong></span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span><span
                        class="CustomerRight">Previously, we were not aware of interviews or commentary
                        about the team that happened in other markets or aired at odd times of the day.
                        Now, we are instantly informed of any coverage, can make high quality clips, and
                        then share them immediately via email, Twitter, Facebook and our website.<img alt="Quote"
                            src="../../Images/Static/Quote_End.png" class="endQuote" /></span>
            </div>
        </div>
        <div class="span8 nomarginleft padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Chris_Yandle_Miami.png" alt="" /></div>
                    <div class="customer-info">
                        <span>Chris Yandle,<br />
                            Director of Communications</span><br />
                        <span><strong>University of Miami Athletic Department</strong></span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span>
                <span class="CustomerRight">Our decision to bring in cliQ was a huge win for the Miami
                    Athletics Department. We are very pleased with the new power we have to leverage
                    our coverage in our content marketing efforts, and iQ media’s service has been exemplary.
                    We strive to deliver the kind of innovative and leading-edge communications vehicles
                    that befit a program of Miami’s caliber, and the results show we are succeeding.<img
                        alt="Quote" src="../../Images/Static/Quote_End.png" class="endQuote" /></span>
            </div>
        </div>
        <div class="span8 offset2 padv30">
            <div class="span6">
                <div class="customer">
                    <div class="customer-img">
                        <img src="../images/customers/Scott_Tattar_LevLane.png" alt="" /></div>
                    <div class="customer-info">
                        <span>Scott D. Tattar,<br />
                            Senior Vice President</span><br />
                        <span><strong>LevLane</strong><span>
                    </div>
                </div>
            </div>
            <div class="span12">
                <span class="leftquote">
                    <img alt="Quote" src="../../Images/Static/Quote_Start.png" class="startQuote" /></span><span
                        class="CustomerRight">As our media relations expertise evolves, and our client’s
                        expectations expand, it is critical that we can find, measure and report our online
                        coverage. With cliQ, we get performance measurement and we also get the ability
                        to see how different forms of media interact with each other to understand the overall
                        impact. We will use this information to make informed decisions on how to maximize
                        the value of our clients’ PR programs. We feel strongly that this addition to our
                        PR toolbox gives us a distinct competitive advantage.<img alt="Quote" src="../../Images/Static/Quote_End.png"
                            class="endQuote" /></span>
            </div>
        </div>
    </div>
}
