<script src="~/Scripts/jsrender.min.js?v=1.0" type="text/javascript"></script>
<script src="~/Scripts/jsrenderviewssupport.js?v=1.0" type="text/javascript"></script>
<script id="tmplSparkChart" type="text/x-jsrender">
    <li class="liSubMediaCharts cursorPointer" onclick="GetDataMediumWise('{{:MediaType}}','{{:DisplayName}}');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            {{:DisplayName}}
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfDocs" class="paddinLeft15 width50p">
                            {{if IsprevSummaryEnoughData}}
                            
                                <div class="dashboardTotal">
                                    {{ReplaceNumberWithCommas:RecordsSum}}
                                </div>
                                <div class="no-background">
                                    Compare to {{ReplaceNumberWithCommas:PrevRecordsSum}}
                                </div>
                                {{if RecordsSum === PrevRecordsSum}}                                
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>                                
                                {{else RecordsSum > PrevRecordsSum}}
                                
                                <div class="dashboardUpDiv">
                                    &nbsp;Up
                                    {{if PrevRecordsSum != 0}}                                    
                                        {{:~PerRelative(PrevRecordsSum, RecordsSum) + "%"}}
                                    {{/if}}
                                    ({{ReplaceNumberWithCommas:PrevRecordsSum-RecordsSum mkABS=true}})
                                    </div>
                                
                                {{else}}
                                
                                <div class="dashboardDownDiv">
                                    &nbsp;Down {{:~PerRelative(PrevRecordsSum, RecordsSum) + "%"}}
                                    ({{ReplaceNumberWithCommas:(PrevRecordsSum-RecordsSum)}})
                                   </div>
                                {{/if}}

                            {{else}}
                                <div class="dashboardTotal">
                                {{ReplaceNumberWithCommas:RecordsSum}}
                                </div>
                            {{/if}}
                        </td>
                        <td id="{{:"div"+ MediaType + "LineChart"}}" class="width50p">
                        </td>                        
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="center" class="fontBold">
                            {{if !IsprevSummaryEnoughData}}
                                {{ReplaceNumberWithCommas:RecordsSum}}                                
                            {{/if}}
                        </td>
                    </tr>
                </table>               
            </div>
        </li>
        <script>
                            
                                RenderSparkHighChart('{{:Records}}', '{{:"div"+ MediaType + "LineChart"}}', '{{:MediaType + "LineChart"}}');
                           
                        {{:"<"}}/script>
</script>