@*<footer>© 2012. iQ Media Group Inc. All rights reserved.<a href="../copyright-abuse" class="link-in-page" style="margin-left:20%;" >Copyright Abuse Policy</a></footer>*@
<footer class="footer">
        <p>&copy; 2009-16 iQ Media Group Inc. All rights reserved. | <a href="http://www.iq.media/#!copyright/zxndw">Copyright Abuse Policy</a> </p>
      </footer>
