<div class="footer-bottom navbar navbar-inverse navbar-fixed-bottom">
    <div class="row-fluid">
        <div class="container">
            <div class="pull-left">
                <span>iQ media Optimized for the Cloud</span></div>
            <div class="pull-right">
                <a href="http://iqmediacorp.sites.hubspot.com/contactus" target="_blank">
                    <img src="../images/request-btn.png" alt=""></a></div>
        </div>
    </div>
</div>