<div class="footer-bg" style="clear: both; background: #111; padding-bottom: 8px;
    padding-top: 35px; height: 200px">
    <div class="container clearfix" style="height: 15%">
        <div class="grid-6 fl clearfix" style="margin: 10px 0 10px 0">
            <div class="et-footer-nav" style="margin: 0 15px 0 0">
                <ul class="bottom-nav clearfix">
                    <li><a href="http://www.iq.media/" target="_blank">Home</a></li>
                    <li><a href="http://www.iq.media/solutions" target="_blank">Solutions</a></li>
                    <li><a href="http://www.iq.media/resources/" target="_blank">Resources</a></li>
                    <li><a href="http://www.iq.media/company/" target="_blank">Company</a></li>
                    <li><a href="http://www.iq.media/careers/" target="_blank">Careers</a></li>
                </ul>
            </div>
            <ul class="bottom-nav-soc footer-social-icons clearfix">
                <li class="site-footer__social-icon"><a href="https://www.facebook.com/iqmediacorp/"
                    target="_blank">
                    <img src="~/Images/MediaIcon/facebook_white.png" /></a></li>
                <li class="site-footer__social-icon"><a href="https://twitter.com/iqmediacorp" target="_blank">
                    <img src="~/Images/MediaIcon/twitter_white.png" /></a></li>
                <li class="site-footer__social-icon"><a href="https://www.linkedin.com/company/1442342"
                    target="_blank">
                    <img src="~/Images/MediaIcon/linkedin_white.png" /></a></li>
                <li class="site-footer__social-icon"><a href="https://www.instagram.com/iq.media/"
                    target="_blank">
                    <img src="~/Images/MediaIcon/instagram_white.png" /></a></li>
                <li class="site-footer__social-icon"><a href="mailto:info@iq.media" target="_blank">
                    <img src="~/Images/MediaIcon/email_white.png" /></a></li>
            </ul>
        </div>
        <div class="grid-6 fl clearfix">
            <ul style="float: right; font-size: x-small;">
                <li style="display: inline-block; margin: 15px"><a style="font-size: small;" href="http://www.iq.media/copyright/"
                    target="_blank">COPYRIGHT ABUSE</a></li>
                <li style="display: inline-block; margin: 15px"><a style="font-size: small;" href="http://www.iq.media/privacy/"
                    target="_blank">PRIVACY POLICY</a></li>
                <li style="display: inline-block; margin: 15px"><a style="font-size: small;" href="http://www.iq.media/security/"
                    target="_blank">SECURITY POLICY</a></li>
            </ul>
        </div>
    </div>
</div>
