<nav>
    <div> 
        <ul class="sf-menu">
          <li class="current first"><a id="spnHome" class="selected" runat="server" href="~/">HOME</a></li>          
          <li><a runat="server" id="spnProducts" href="~/Products">PRODUCTS</a>
          <ul>
          <li>
          <a id="A16" runat="server" href="~/Products">OVERVIEW</a>
          <ul>
            <li><a id="A8" runat="server" href="~/Products/BroadcastTV">BROADCAST TV</a></li>
            <li><a id="A9" runat="server" href="~/Products/OnlineNews">ONLINE NEWS</a></li>
            <li><a id="A10" runat="server" href="~/Products/SocialMedia">SOCIAL MEDIA</a></li>
            <li><a id="A11" runat="server" href="~/Products/Twitter">TWITTER</a></li>
            <li><a id="A12" runat="server" href="~/Products/UserGeneratedContent">USER GENERATED CONTENT</a></li>
          </ul>
          </li>

          <li>
          <a id="A14" href="~/Products/cliQ" runat="server">cliQ</a>
          <ul>
          <li><a id="A1" runat="server" href="~/Products/OptimizedMediaCloud">OPTIMIZED MEDIA CLOUD</a></li>
                <li><a id="A2" runat="server" href="~/Products/InlineMediaWorkspace">INLINE MEDIA WORKSPACE</a>                	
                </li>
                <li><a id="A3" runat="server" href="~/Products/myiQStatic">MY iQ</a></li>                
          </ul>
          
          </li>
            	<li><a id="A15" runat="server" href="~/Products/ProPrep">PROPREP</a></li>
            </ul>    
          
          </li>
          <li class="industry"><a id="spnIndustries"  href="~/Industries">INDUSTRIES</a>
          <ul>
                <li><a id="A17" runat="server" href="~/Industries">OVERVIEW</a></li>
                <li><a id="A4" runat="server" href="~/Industries/PoliticalParties">POLITICAL PARTIES</a></li>
                <li><a id="A5" runat="server" href="~/Industries/University">UNIVERSITIES</a></li>
                <li><a id="A6" runat="server" href="~/Industries/ProfessionalSports">PROFESSIONAL SPORTS TEAMS</a></li>
                <li><a id="A7" runat="server" href="~/Industries/CollegiateAthleticPrograms">COLLEGIATE ATHLETIC DEPARTMENTS</a></li>
          </ul>
          </li>
          <li class="resource"><a id="spnResources"  href="~/Resources">RESOURCES</a>          
          </li>
          <li><a id="spnAboutUs" href="../AboutUs/">ABOUT US</a>
          <ul>
          <li><a id="A20" runat="server" href="~/AboutUs">OVERVIEW</a></li>
          <li><a id="A13" runat="server" href="~/AboutUs/ManagementTeam">MANAGEMENT TEAM</a></li>
          <li><a id="A22" runat="server" href="~/AboutUs/News">NEWS</a></li>
          <li><a id="A18" runat="server" href="~/AboutUs/HowAreWeDifferent">HOW ARE WE DIFFERENT?</a></li>
          <li><a id="A19" runat="server" href="~/AboutUs/OEMPartnerships">OEM PARTNERSHIPS</a></li>
          <li><a id="A21" runat="server" href="~/copyright-abuse">COPYRIGHT ABUSE</a></li>
          </ul>
          </li>
          <li class="last"><a runat="server"  id="spnContactUs" href="http://iqmediacorp.sites.hubspot.com/contactus">CONTACT US</a></li>
        </ul>
      </div>
      </nav>
