<div class="footer-top-bg clearfix">
    <div class="container">
        <div class="clearfix">
            <div class="span3">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Software</div>
                    </li>
                    <li><a href="~/Software">Overview</a></li>
                    <li><a href="~/Software/Discover">Discover</a> </li>
                    <li><a href="~/Software/Create">Create</a></li>
                    <li><a href="~/Software/Engage">Engage</a> </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Services</div>
                    </li>
                    <li><a href="~/Services">Overview</a></li>
                    <li><a href="~/Services/Consulting">Consulting</a></li>
                    <li><a href="~/Services/Training">Training</a></li>
                    <li><a href="~/Services/Support">Support</a></li>
                    <li><a href="~/services/APIAccess">API Integration</a></li>
                </ul>
            </div>
            <div class="span4 offset1">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Customers</div>
                    </li>
                    @*<li><a href="~/Customers">Overview</a></li>*@
                    <li><a href="~/Customers">Customer Success Stories</a></li>
                </ul>
            </div>
            <div class="span3 offset1">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Resources</div>
                    </li>
                    @*<li><a href="~/Resources">Overview</a></li>*@
                    <li><a href="~/Resources">Webinars & Events</a></li>
                    @*<li><a href="~/Resources/WhitePapers">Whitepapers</a></li>*@
                    <li><a href="javascript:;">Case Studies</a></li>
                    <li><a href="~/Resources/ProductLiterature">Product Info</a></li>
                    <li><a href="http://info.iqmediacorp.com/blog" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="span3">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            About Us</div>
                    </li>
                    <li><a href="~/AboutUs_Old">Overview</a></li>
                    <li><a href="~/AboutUs_Old/ManagementTeam">Management Team</a></li>
                    <li><a href="~/AboutUs_Old/News">In the News</a></li>
                    <li><a href="http://iqmediacorp.hs-sites.com/careers-at-iq-media">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="span3">
                <div class="sitmap">
                    Site Map</div>
            </div>
            <div class="span3">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Contact Us</div>
                    </li>
                    <li><a href="~/ContactUs/">Come Visit Us</a></li>
                    <li><a href="~/ContactUs/">Give Us a Ring</a></li>
                </ul>
            </div>
            <div class="span4 offset1">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Legal</div>
                    </li>
                    <li><a href="~/Legal">Overview</a></li>
                    <li><a href="~/Legal/PrivacyStatement">Privacy Statement</a></li>
                    <li><a href="~/Legal/SecurityStatement">Security Statement</a></li>
                    @*<li><a href="~/Legal/SafeHarbour">Safe Harbor</a></li>*@
                    <li><a href="~/Legal/CopyrightAbusePolicy">Copyright</a></li>
                </ul>
            </div>
            <div class="span3 offset1">
                <ul class="footer-link">
                    <li>
                        <div class="title">
                            Partnerships</div>
                    </li>
                    @*<li><a href="~/services/APIAccess">API Integration</a></li>*@
                    <li><a href="~/ProPrep">ProPrep</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
