<div class="social-icon">
    <a href="https://www.facebook.com/iqmediacorp" target="_blank">
        <img src="../images/f.png" alt=""></a><a href="http://twitter.com/iQMediaCorp" target="_blank"><img
            src="../images/t.png" alt=""></a><a href="http://www.linkedin.com/company/1442342?trk=null"
                target="_blank"><img src="../images/in.png" alt=""></a></div>
