<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron white-box hidden-xs company-banner">
    <div class="container">
        <div class="col-sm-12 col-md-10 top-img-center col-md-offset-1">
            <div class="row">
                Legal
            </div>
        </div>
    </div>
</div>
