@{
    
    ViewBag.Title = "Keep the lights on | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <link rel="Stylesheet" type="text/css" href="~/css/DarkSite.css?v=1.1" />
    <link rel="Stylesheet" type="text/css" href="~/Css/colorbox.css?v=1.0" />
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/DarkSite/DarkSite_header.jpg" class="img100" alt="Keep the lights on" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="blue-txt">
                your work doesn’t stop when service goes dark.</h1>
            <p>
                Losing a service provider can really shake your confidence. And, here at iQ media,
                we don't take it lightly. We really believe in the media intelligence industry.
                That's why we wanted to take a moment and say, <span style="font-family: 'lato-italic';">
                    we've got your back.</span></p>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #c7d36a; color: #fff;">
    <div class="container">
        <div class="row">
            <h1>
                we’ll work for you<span style="display: block;">while you’re working through it.</span></h1>
            <p>
                We won't pressure you into making a decision tomorrow. We won't overwhelm you with
                calendar invites and contract proposals. We know that trust takes time.</p>
            <p>
                Our offer is simple: access to media intelligence completely for free until your
                original contract expires, or you're ready to find a new partner. Because, we think
                that media intelligence service should work for you.</p>
            <p>
                Let us prove it to you.</p>
            <div style="margin-top: 40px; padding: 0; text-align: center;">
                <a href="javascript:;" onclick="FocusTxt();" style="padding: 5px 35px;" class="reqdemo-white-greentxt"
                    title="talk to us">talk to us</a> <a id="contact"></a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6" id="divHS">
                <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: '543382',
                        formId: 'a5cf12d3-bd7a-4e5f-b0c9-a8150cbe1701'
                    });
                </script>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1 class="orange-txt">
                    don't go it alone.</h1>
                <p>
                    While you and your team are regrouping to find a new partner, we want to help you
                    stay afloat with some free, totally <span style="font-family:'lato-italic';">no obligation service</span>. You'll get access to..."</p>
                <div class="arrow">
                    <img alt="" src="~/images/home_new/darksite/arrow.png" />Ad-hoc television monitoring
                    through Discovery Light.</div>
                <div class="arrow">
                    <img alt="" src="~/images/home_new/darksite/arrow.png" />One saved search, with
                    up to five keywords.</div>
                <div class="arrow">
                    <img alt="" src="~/images/home_new/darksite/arrow.png" />Rolling 90 day archive
                    of content.</div>
                <div class="arrow">
                    <img alt="" src="~/images/home_new/darksite/arrow.png" />A private, (seriously)
                    no-obligation consultation with one of our knowledgable reps.</div>
                <div class="arrow">
                    <img alt="" style="top: 16px;" src="~/images/home_new/darksite/arrow.png" /><span
                        style="font-size: 30px;">and maybe just a little peace of mind.</span></div>
                <div style="margin-top: 40px; text-align: center;">
                    <img alt="" src="~/images/home_new/darksite/img1.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #b4b4da; padding-top: 10px; padding-bottom: 10px;
    color: #fff;">
    <div class="container">
        <div class="row">
            <h1 style="margin: 0px;">
                get to know us.</h1>
        </div>
    </div>
</div>
<div class="jumbotron" style="padding-top: 10px;">
    <div class="container">
        <div class="row">
            <p>
                iQ media engages every marketer with better data, deeper analysis and a richer experience
                in paid, earned, shared & owned media analytics across television, online, social
                & first party data sources.</p>
            <p>
                Our award-winning suite of analytics tools equip marketing and PR professionals
                with the data they need to make smart, forward-thinking decisions about how to manage
                their brand reputation on television, online and beyond.</p>
            <p>
                We are the fastest growing media intelligence platform so you can rest assured that
                service isn't going anywhere any time soon.</p>
            <div class="arrow">
                <img alt="" src="~/images/home_new/darksite/arrow.png" />We've grown to serve over
                <a href="~/images/home_new/darksite/customers.jpg" class="ds-colorbox blue-txt">250
                    amazing customers.</a></div>
            <div class="arrow">
                <img alt="" src="~/images/home_new/darksite/arrow.png" />We've recently launched
                some huge and exciting product enhancements, like an industry-exclusive brand recognition
                technology and highly intelligent impact visualization tool.</div>
            <div class="arrow">
                <img alt="" src="~/images/home_new/darksite/arrow.png" />We've experienced nine
                consecutive quarters of growth with quarter over quarter bookings up 155% (Q2 15
                over Q2 14).</div>
            <div class="arrow">
                <img alt="" src="~/images/home_new/darksite/arrow.png" />We won a CODiE Award for
                Best Software-as-a-Service Application!</div>
            <p style="margin-top: 20px;">
                But that's not all we are. iQ media is driven by 80+ dedicated staff in three major
                metropolitan areas, and every single one of us is happy to talk to you.</p>
            <p>
                So go ahead, <a href="javascript:;" onclick="FocusTxt();" style="outline:none !important;text-decoration:none !important;" class="purple-txt">give us a shout.</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.colorbox.js"></script>
<script>
    $('.ds-colorbox').colorbox({ rel: 'ds-colorbox' });

    var FocusTxt = function () {
        var txt = $('#divHS').find('input[type=text]').filter(':visible:first');

        if (txt != undefined) {

            $('html, body').animate({
                scrollTop: $(txt).offset().top - 100
            }, 1500);

            $(txt).focus();
        }
    }

</script>
