<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MessageSettings" type="IQMedia.Shared.Config.Handlers.XmlConfigurationSectionHandler, IQMedia.Shared" />
    <section name="SolrUrlSettings" type="IQMedia.Shared.Config.Handlers.XmlConfigurationSectionHandler, IQMedia.Shared" />
  </configSections>
  <connectionStrings>
    <add name="IQMediaGroupConnectionString" connectionString="server=10.100.1.34\IQMQASQL02;user id=IQMediaWeb;password=bew78iqmedia;database=IQMediaGroup;Max Pool Size=150;" providerName="System.Data.SqlClient" />

    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34\IQMQASQL02;User Id=IQMediaWeb;Password=bew78iqmedia;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>

      <!-- Used to limit the number of sequence IDs to exclude from Solr Queries, having too many will break the query -->
      <add key="MaxExcludedSeqIDs" value="1000"/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RL_User_GUID" value="07175c0e-2b70-4325-be6d-611910730968" />
    <add key="CategoryCode" value="PR" />
    <add key="ServicesBaseURL" value="1"></add>
    <add key="MaxClipLength" value="1800" />
    <add key="DefaultClipLength" value="60" />
    <add key="URLWaterMark" value="https://qav5.iqmediacorp.com/Images/PlayerLogo/" />
    <add key="RawMediaObjectWidth" value="545" />
    <add key="RawMediaObjectHeight" value="340" />
    <add key="PlayerLocation" value="//qav5.iqmediacorp.com/qav4_iqmedia_player_v1.75.swf" />
    <add key="BasicRawMediaPlayerLocation" value="https://qav5.iqmediacorp.com/qav4_iqagentiframe_iqmedia_player_v1.19.swf" />

    <add key="LocalPlayerLocation" value="https://qav5.iqmediacorp.com/qav4_iqagentiframe_iqmedia_basicplayer_v1.34.26.swf" />
    <add key="BasicPlayerLocation" value="https://qav5.iqmediacorp.com/qav4_iqmedia_basicplayer_v1.35.47.swf" />
    <add key="IsLocal" value="false" />
    <add key="PMGSearchUrl" value="http://10.100.1.59:8080/solr/ctv362-2014/select?shards=10.100.1.59:8080/solr/ctv362-2010,10.100.1.59:8080/solr/ctv362-2011,10.100.1.59:8080/solr/ctv362-2012,10.100.1.59:8080/solr/ctv362-2013,10.100.1.59:8080/solr/ctv362-2014&amp;" />
    <add key="SolrQTIframe" value="iqmedia" />
    <add key="PMGMaxHighlights" value="99" />
    <add key="RawMediaCaptionDelay" value="20" />
    <add key="IsPMGLogging" value="true" />
    <add key="PMGLogFileLocation" value="C:\inetpub\wwwroot\Website\LogFiles\PMGLog\" />
    <add key="IsFeedsLogging" value="true"/>
    <add key="FeedsLogFileLocation" value="C:\inetpub\wwwroot\Website\LogFiles\FeedsLog\"/>
    <!--	<add key="SolrNewsUrl" value="http://10.100.1.58:8080/solr/core0/select/"></add> -->
    <add key="SolrNewsUrl" value="http://10.100.1.58:8080/solr/cmo362-2014-1/select?shards=10.100.1.58:8080/solr/cmo362-2012-1,10.100.1.58:8080/solr/cmo362-2012-2,10.100.1.58:8080/solr/cmo362-2013-1,10.100.1.58:8080/solr/cmo362-2013-2,10.100.1.58:8080/solr/cmo362-2013-3,10.100.1.58:8080/solr/cmo362-2014-1&amp;" />
    <!--    <add key="SolrSMUrl" value="http://10.100.1.58:8080/solr/core0/select/" /> -->
    <add key="SolrSMUrl" value="http://10.100.1.58:8080/solr/cmo362-2014-1/select?shards=10.100.1.58:8080/solr/cmo362-2012-1,10.100.1.58:8080/solr/cmo362-2012-2,10.100.1.58:8080/solr/cmo362-2013-1,10.100.1.58:8080/solr/cmo362-2013-2,10.100.1.58:8080/solr/cmo362-2013-3,10.100.1.58:8080/solr/cmo362-2014-1&amp;" />
    <add key="SolrTwitterUrl" value="http://10.100.1.39:8080/solr/core0/select/" />
    <add key="MaxRequestDuration" value="80000" />
    <add key="MaxFeedsRequestDuration" value="90000"/>
    <add key="DiscoveryPageSizeOptions" value="10,20,50,100" />
    <add key="SolrFL" value="title120,market,iq_cc_key,guid,datetime_dt,stationid,iq_dma_num,timezone,iq_ssp_unique,gmtdatetime_dt,seqid" />
    <add key="SolrProQuestFL" value="iqseqid,abstract,mediacategory,content,contenthtml,availdate,mediadate,publication,author,title,copyright"/>
    <add key="TimeshiftPageSize" value="10" />
    <add key="DiscoverySavedSearchPageSize" value="5" />
    <add key="SolrRequestDuration" value="60000" />
    <add key="PlayerDefaultOffset" value="8" />
    <!-- Used to indicate line breaks in LexisNexis Moreover content. Case sensitive. -->
    <add key="LexisNexisLineBreakPlaceholder" value="iqcrlf" />

    <add key="TimeshiftSavedSearchPageSize" value="5" />
    <!-- Used in Tads for saved search page size -->
    <add key="TAdsSavedSearchPageSize" value="5"/>

    <add key="MaxSortField" value="3" />
    <add key="FragSize" value="225" />
    <add key="SolrFragSize" value="225" />
    <add key="StationLogo" value="../StationLogoImages/" />


    <add key="AndroidVersionRegex" value="(?&lt;=\bandroid\s\b)(\d+(?:\.\d+)+)" />
    <add key="AndroidDefaultVersion" value="4.1" />
    <add key="MyCliqMediaHost" value="qa.mycliqmedia.com,www.mycliqmedia.com,mycliqmedia.com" />
    <add key="ServicesBaseURLMyCliqMedia" value="3"></add>
    <add key="IOSSVCGetVarsUrl" value="https://qav5svc.iqmediacorp.com/iossvc/GetVars?ClipID={0}&amp;IsAndroid=true" />
    <add key="IOSPlayerURL" value="iqmedia://clipid={0}&amp;baseurl={1};" />

    <add key="JobStatusPageSize" value="10" />


    <!-- IQArchieve_Media(Library Page) -->
    <add key="IQArchieve_TVThumbUrl" value="https://qav5svc.iqmediacorp.com/svc/clip/previewImage?log=false&amp;eid=" />
    <add key="IQArchieve_PMBaseUrl" value="https://qav5.iqmediacorp.com" />
    <add key="ClipPlayerObjectWidth" value="545" />
    <add key="ClipPlayerObjectHeight" value="312" />
    <add key="ClipPlayerLogoBasePath" value="https://qav5.iqmediacorp.com/Images/PlayerLogo/" />
    <add key="DownloadLimitNM" value="10" />
    <add key="DownloadLimitSM" value="5" />
    <add key="DownloadLimitTV" value="5" />
    <add key="DownloadLimitIQRadio" value="5"/>
    <add key="ExportClip" value="https://qav5svc.iqmediacorp.com/svc/clip/export" />
    <add key="ExportClipMsg" value="Clip Export request sent successfully." />
    <add key="ClipDownloadLocation" value="\\10.100.1.33\ugc\download\clip" />
    <add key="CCService_RefreshResultURL" value="https://qav5svc.iqmediacorp.com/svc/cc/getClosedCaption?fid={0}" />
    <add key="ClientLogoBasePath" value="https://qav5.iqmediacorp.com/images/CustomHeader/" />
    <add key="TempHTML-PDFPath" value="C:\\inetpub\\wwwroot\\Website\\PDF\\" />
    <add key="HiQPdfSerialKey" value="BU1sVFVh-Y0lsZ3dk-d3w8KzUl-NCU2JTEz-NjUlNjQr-NDcrPDw8-PA==" />
    <add key="IQMediaEmailLogo" value="Images\logo_N.png" />
    <add key="PlayerFromLocal" value="true" />
    <add key="ClipGetPreview" value="https://qav5svc.iqmediacorp.com/svc/clip/previewImage?log=false" />
    <add key="HighlightWordsBeforeSpan" value="10" />
    <add key="HighlightWordsAfterSpan" value="10" />
    <add key="KantarPageSize" value="10" />
    <add key="RadioClipPlayerURL" value="https://qav5.iqmediacorp.com/ClipRadioPlayer?id=" />
    <add key="ProQuestURL" value="https://qav5.iqmediacorp.com/ProQuest/?source={0}&amp;id={1}"/>
    <add key="RadioRawPlayerURL" value="https://qav5.iqmediacorp.com/RawRadioPlayer?id=" />
    <add key="ClientRootFolderName" value="Main Folder" />
    <add key="ApplicationPageSize" value="10" />
    <add key="ClientApplicationPageSize" value="10" />
    <add key="CustomerApplicationPageSize" value="10" />
    <add key="FliqUploadPageSize" value="2" />
    <add key="IQNotificationPageSize" value="2" />
    <add key="DaysOfWeek" value="Sunday|0,Monday|1,Tuesday|2,Wednesday|3,Thursday|4,Friday|5,Saturday|6" />
    <add key="TimeOfDay" value="12 AM,1 AM,2 AM,3 AM,4 AM,5 AM,6 AM,7 AM,8 AM,9 AM,10 AM,11 AM,12 PM,1 PM,2 PM,3 PM,4 PM,5 PM,6 PM,7 PM,8 PM,9 PM,10 PM,11 PM" />
    <add key="PMGTBSearchUrl" value="http://10.100.1.59:8080/solr/ctv490-2014/select/" />
    <add key="MaxDefaultEmailAddress" value="4" />
    <add key="IOSAndroidClipPlayerURL" value="https://qav5svc.iqmediacorp.com/svc/logs/logClipPlay?fid={0}&amp;ref={1}" />
    <add key="IOSAndroidUpdateClipPlayLogURL" value="https://qav5svc.iqmediacorp.com/svc/logs/updateClipPlayLog?logID={0}&amp;percentPlayed={1}" />
    <add key="ClipLogUpdateInterval" value="20" />
    <!-- Used to create temp html documents when exporting reports to PDF -->
    <add key="DirReportExportHTML" value="C:\inetpub\wwwroot\website\Download\TempHTML\"/>
    <!-- Used when making calls to the Anewstip API -->
    <add key="AnewstipAPIKey" value="xelVaHl2ohWcidYawloFhY5LzARtXqzijraQvwx3shQ" />



    <!-- IQAgent_Report (External Page without Login) -->

    <add key="IQAgentReportMaxRecordDisplay" value="10" />
    <add key="IQAgentReportRawMediaPlayerUrl" value="https://qav5.iqmediacorp.com/RawMediaPlayer/?media={0}" />

    <!-- End -->


    <add key="UrlGetVideoMetaData" value="https://qav5svc.iqmediacorp.com/iqsvc/GetVideoMetaData?ID=" />
    <add key="UrlGetVideoNielSenData" value="https://qav5svc.iqmediacorp.com/iqsvc/GetVideoNielSenData?ID=" />
    <add key="UrlGenerateVideoRawMediaThumb" value="https://qav5svc.iqmediacorp.com/iqsvc/GenerateVideoRawMediaThumb?RawMediaGuid=" />
    <add key="UrlGetVideoCategoryData" value="https://qav5svc.iqmediacorp.com/iqsvc/GetVideoCategoryData" />
    <add key="UrlCreateMediaClip" value="https://qav5svc.iqmediacorp.com/svc/clip/CreateMediaClip" />
    <add key="UrlGenerateMediaClipThumbnail" value="https://qav5svc.iqmediacorp.com/svc/clip/GenerateMediaClipThumbnail?fid=" />
    <add key="UrlExportMediaClip" value="https://qav5svc.iqmediacorp.com/svc/clip/ExportMediaClip?fid=" />
    <add key="UrlExportIOSMediaClip" value="https://qav5svc.iqmediacorp.com/iossvc/ExportMediaClip?fid=" />
    <add key="UrlClipTimeSync" value="https://qav5svc.iqmediacorp.com/iqsvc/InsertClipTimeSync" />
    <!-- Used to send email from library player -->
    <add key="UrlSendEmail" value="https://qav5svc.iqmediacorp.com/iqsvc/SendEmail" />
    <!-- Used to Get Share Variable -->
    <add key="GetStationSharing" value="https://qav5svc.iqmediacorp.com/iqsvc/GetStationSharing?ClipID=" />
    <!-- Used to Get Share Variable -->
    <add key="GetEmailSharing" value="https://qav5svc.iqmediacorp.com/iqsvc/GetEmailSharing" />

    <!-- Used to set get video meta neilsen data url in library-->
    <add key="UrlGetNielSenData" value="https://qav5svc.iqmediacorp.com/iqsvc/GetNielSenData" />
    <!-- Used to get TV urls for Feeds CSV exports -->
    <add key="UrlGetIQAgentIframeUrl" value="https://qav5svc.iqmediacorp.com/iqsvc/GetIQAgentIframeURL?Date={0}&amp;IQAgentResultID={1}&amp;RawMediaGuid={2}" />
    <!-- Used to get Clip Details of Created Clip Isvc -->
    <add key="UrlISVCGetClipDetail" value="https://qav5svc.iqmediacorp.com/isvc/GetArchiveClip" />
    <!-- Url of the Javabean app to get Topics data -->
    <add key="DiscoveryTopicsUrl" value="http://10.100.1.122:8080/iqmediatfg-2.0/index.jsp"/>

    <add key="MaxDiscoveryItemLimit" value="2000" />
    <add key="ClientUGCMapPageSize" value="5" />

    <!--  IQUGCArchieve -->
    <add key="UGCFileUploadLocation" value="\\\\10.10.1.23\\ugc\\" />
    <add key="UGCFileDownloadLocation" value="\\10.100.1.33\ugc\download\" />
    <add key="UGCFileUploadService" value="https://qav5svc.iqmediacorp.com/svc/media/convert?fname={0}" />
    <add key="IQMediaUserGUID" value="07175c0e-2b70-4325-be6d-611910730968" />
    <add key="UGCPermittedFileTypes" value="WMV,MP4,MP3,M4A,MOV" />

    <!-- End -->

    <add key="IQAgentPlayerLocation" value="https://qav5.iqmediacorp.com/qav4_iqagentiframe_iqmedia_player_v1.19.swf" />



    <!-- IQAgent -->

    <!-- These Entires are mapped with IQMedia.Shared.Utility.CommonFunctions.IQNotificationFrequency enum -->
    <add key="IQNotificationFrequency" value="Immediate,Hourly,OnceDay,OnceWeek" />
    <add key="IsShowArchiveTimeSync" value="true" />

    <!-- End -->

    <add key="SMTPServer" value="smtp-relay.gmail.com" />
    <add key="Port" value="25" />
    <add key="LoginEmail" value="info@iqmediacorp.com" />
    <add key="LoginPassword" value="passx1" />
    <add key="IsEnableSSL" value="FALSE" />
    <add key="Sender" value="donotreply1@iqmediacorp.com"/>
    <add key="AddSender" value="true"/>

    <add key="ClipPlayerURL" value="https://qav5.iqmediacorp.com/ClipPlayer/?ClipID=" />
    <add key="v3WebsiteUrl" value="http://v3.iqmediacorp.com" />
    <add key="SolrFragSizeForSentiment" value="500" />
    <add key="ResizePlayerLocation" value="https://qav5.iqmediacorp.com/qa_iqmedia_player_resize_cdn_v1.6.swf" />
    <add key="GnipTag" value="97605D71-5978-4062-BD49-AD1B58D7134E" />
    <add key="DownloadLimitTVEyes" value="5" />
    <add key="RawMediaGetVars" value="https://qav5svc.iqmediacorp.com/svc/media/getVars?fid={0}" />
    <add key="SVCGetClipThumbUrl" value="https://qav5svc.iqmediacorp.com/svc/clip/previewImagePath?eid=" />
    <add key="LogRawMediaPlayService" value="https://qav5svc.iqmediacorp.com/iqsvc/logRawMediaPlay?fid={0}&amp;ref={1}&amp;host={2}" />
    <add key="UpdateRawMediaPlayLogService" value="https://qav5svc.iqmediacorp.com/iqsvc/updateRawMediaPlayLog?id={0}&amp;percentPlayed={1}" />
    <add key="RawMediaLogUpdateInterval" value="20" />
    <add key="ClientPageSize" value="10" />
    <add key="CustomerPageSize" value="10" />
    <add key="FeedPageSizeOptions" value="10,20,50,100,300" />
    <add key="IQArchievePageSizeOptions" value="10,20,50,100" />
    <add key="IQUGCArchievePageSizeOptions" value="10,100" />




    <add key="solrNewsFL" value="genre,harvestdate_dt,title,source_category,url,homeurl_domain,iqseqid,iqdmaname,homeurl,iqlicense" />
    <add key="solrSMFL" value="homeurl_domain,title,harvestdate_dt,mediatype,autorank,url,iqseqid,homeurl" />

    <add key="DefaultCustomCategory" value="Default" />
    <add key="Pages" value="v4Dashboard|v4Dashboard,v4Feeds|v4Feeds,v4Discovery|v4Discovery,v4DiscoveryLite|v4DiscoveryLite,v4Timeshift|v4Timeshift,v4Library|v4Library,v4Setup|v4Setup,v4GlobalAdmin|v4GlobalAdmin" />
    <!--Added for Image Check -->
    <add key="CustomHeaderHeight" value="100" />
    <add key="CustomHeaderWidth" value="900" />
    <add key="PlayerLogoHeight" value="52" />
    <add key="PlayerLogoWidth" value="52" />

    <add key="DirPlayerLogo" value="C:\inetpub\wwwroot\QAWebsite\Images\PlayerLogo\" />
    <add key="DirCustomHeader" value="C:\inetpub\wwwroot\QAWebsite\Images\CustomHeader\" />

    <add key="URLCustomHeader" value="http://qav5.iqmediacorp.com/Images/CustomHeader/" />
    <add key="ClientImageExtensions" value="jpg,jpeg,gif,tif,png" />
    <add key="ClientReportImageExtensions" value="jpg,jpeg,png" />

    <add key="TimeZones" value="CST|EST|MST|PST" />
    <add key="URLNotificationHeader" value="http://qav5.iqmediacorp.com/Images/NotificationImages/" />
    <add key="DirNotificationHeader" value="C:\inetpub\wwwroot\QAWebsite\Images\NotificationImages\" />
    <add key="NotificationHeaderWidth" value="900" />
    <add key="NotificationHeaderHeight" value="70" />
    <add key="DirReportHeader" value="C:\inetpub\wwwroot\Website\Images\ReportHeader\" />
    <add key="UrlReportHeader" value="https://qav5.iqmediacorp.com/Images/ReportHeader/" />
    <add key="ReportHeaderWidth" value="900" />
    <add key="ReportHeaderHeight" value="200" />
    <add key="ClientDefaultHeaderImage" value="Images/Default.png" />
    <add key="ClientDefaultEmailHeaderImage" value="Images/DefaultEmail.png" />

    <!-- This key allows to have set json request length -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="IsMaintenance" value="false" />
    <add key="UseInfoAlert" value="false"/>
    <add key="IsPmgNewsLicenseSearch" value="true" />

    <add key="SubDomainSWF" value="qav5svc" />
    <add key="IsSecuredServiceSWF" value="true" />

    <add key="UGCMapLogo" value="//10.100.1.80/XDrive/logos/stations/small/"/>
    <add key="UrlUGCMapLogo" value="http://media.iqmediacorp.com/logos/stations/small/"/>

    <add key="MaxPasswordAttempts" value="5" />
    <add key="PQArticleUrl" value="https://qav5.iqmediacorp.com/PQArticle/?ID={0}" />

    <!-- TAds -->
    <!-- Used in TAds, for display page size -->
    <add key="TAdsPageSize" value="10" />

    <!-- Account -->

    <add key="PwdCriteriaMsg" value=" Password must contain one uppercase, one lowercase and a number; and length must be between 6 and 30."/>

    <add key="RsetPwdBaseUrl" value="https://qav5.iqmediacorp.com/Account/ResetPwd/" />
    <add key="RsetPwdEmailCount" value="5" />
    <add key="RsetPwdEmailSubject" value="iQ media Reset Password" />
    <add key="RsetPwdLinkTimeoutMinutes" value="120" />

    <add key="RecaptchaSiteKey" value="6Lc6aRITAAAAANdVfNc53S5slAgIyt9gk8QY48Fz" />
    <add key="RecaptchaSecretKey" value="6Lc6aRITAAAAAGJayGcCMWtCjMt-qHtw2_cNCjmq"/>
    <add key="RecaptchaVerifyAPI" value="https://www.google.com/recaptcha/api/siteverify"/>

    <add key="CookieDebug" value="false"/>
    <add key="SessionDebug" value="true"/>

    <add key="CacheActiveUsers" value="repCache" />

    <!-- Zendesk SSO key-->
    <add key="ZendeskSSOKey" value="XeslPGWlBDqUOY7AAyJpvrj3M2xjbbeSekfNomCzIS4t3klt"/>
    <add key="ZendeskRedirectURL" value="https://iqmediacorp.zendesk.com/access/jwt?jwt="/>
    <add key="ZendeskEmail" value="operations@iqmediacorp.com"/>
    <add key="ZendeskName" value="Zendeskuser"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Alachisoft.NCache.SessionStoreProvider,Version=4.4.0.0, Culture=neutral,PublicKeyToken=1448e8d1123e9096"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <!--<forms name=".IQAUTH" 
protection="All" 
path="/" 
domain=".iqmediacorp.com" 
timeout="30"/>-->
      <forms name=".IQAUTH" protection="All" path="/" domain=".iqmediacorp.com" timeout="1380" />
    </authentication>
    <machineKey validationKey="39F121ECD0BDACBFD61B8A7C54CFD693A65AB2541AAFEBFAED245E860625088B82FB55C50238FE90C9EF75AE440B5177ECDCAB9FEA076B45F640082DF9ABF6EE" decryptionKey="844EFAA1079C80A6870DD1B77E6434B8CAE19883217446576249A6F6EC36FE13" validation="SHA1" decryption="AES" />

    <membership defaultProvider="IQMembershipProvider">
      <providers>
        <clear />
        <add name="IQMembershipProvider" type="IQMedia.Web.Common.Providers.MembershipProvider, IQMedia.Web.Common" connectionStringName="IQMediaGroupEntities" />

      </providers>
    </membership>
    <httpRuntime maxRequestLength="2147483647" targetFramework="4.0" executionTimeout="3600" maxUrlLength="2097151" maxQueryStringLength="2097151" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="NotFound/"/>
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
    <sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="NCacheSessionProvider" timeout="1380" cookieName="IQS">
      <providers>
        <add name="NCacheSessionProvider" type="Alachisoft.NCache.Web.SessionState.NSessionStoreProvider" sessionAppId="IQWeb" cacheName="repCache" writeExceptionsToEventLog="true" asyncSession="false" enableLogs="true" exceptionsEnabled="true" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="EndRequestModule" type="IQMedia.WebApplication.App_Code.EndRequestModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect rule for ClipPlayer/Default.aspx">
          <match url="^.*(?:ClipPlayer/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/ClipPlayer/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for IframeMicrosite/Default.aspx">
          <match url="^.*(?:IframeMicrosite/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/IframeMicrosite/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for Subscription/Default.aspx">
          <match url="^.*(?:Subscription/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/Subscription/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for IQAgentIframe/Default.aspx">
          <match url="^.*(?:IQAgentIframe/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/RawMediaPlayer/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for Report/Default.aspx">
          <match url="^.*(?:Report/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/Report/IQAgent/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for IframeRawMedia/Default.aspx">
          <match url="^.*(?:IframeRawMedia/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/IframeRawMedia/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Redirect rule for IframeServiceRawMedia/Default.aspx">
          <match url="^.*(?:IframeServiceRawMedia/Default.aspx).*$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="/IframeServiceRawMedia/?{C:1}" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect #50" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="blog/bid/356012/The-3-P-s-of-Video-Content-Marketing" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/the-3-ps-of-video-content-marketing/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #40" stopProcessing="true">
          <match url="blog/bid/347364/Another-update-to-cliQ-Yup-We-re-Right-on-Schedule" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/another-update-to-cliq-yup-were-right-on-schedule/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #38" stopProcessing="true">
          <match url="blog/bid/345817/This-Week-s-Top-News-Stories-Told-By-Media-Intelligence" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/this-weeks-top-news-stories-told-by-media-intelligence/" />
        </rule>
        <rule name="Blog Redirect Rule #36" stopProcessing="true">
          <match url="blog/bid/344719/iQ-media-s-Recap-of-the-WHCD-And-Some-Media-Intelligence-Too" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-medias-recap-of-the-whcd-and-some-media-intelligence-too/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #30" stopProcessing="true">
          <match url="blog/bid/340617/iQ-media-s-cliQ-Just-Doesn-t-Quit" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-medias-cliq-just-doesnt-quit/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #29" stopProcessing="true">
          <match url="blog/bid/340582/iQ-media-s-Favorite-Oscar-Moments" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-medias-favorite-oscar-moments/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #27" stopProcessing="true">
          <match url="blog/bid/336764/iQ-media-Talks-Jimmy-Fallon-s-Obsession-With-Brian-Williams" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-media-talks-jimmy-fallons-obsession-with-brian-williams/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #23" stopProcessing="true">
          <match url="blog/bid/334626/iQ-media-s-Favorite-Super-Bowl-Commercials" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-medias-favorite-super-bowl-commercials/" />
        </rule>
        <rule name="BLog REdirect Rule #20" stopProcessing="true">
          <match url="blog/bid/331555/What-s-In-Store-For-iQ-media-In-2014" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/whats-in-store-for-iq-media-in-2014/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #19" stopProcessing="true">
          <match url="blog/bid/330942/The-Top-3-New-Year-s-Resolutions-And-How-to-Keep-Them" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/the-top-3-new-years-resolutions-and-how-to-keep-them/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #18" stopProcessing="true">
          <match url="blog/bid/330504/iQ-media-s-Top-10-Favorite-TV-Commercials-of-2013" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/iq-medias-top-10-favorite-tv-commercials-of-2013/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect Rule #17" stopProcessing="true">
          <match url="blog/bid/329757/4-Ways-to-Share-Your-Brand-s-Media-Mentions-with-Media-Intelligence" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://blog.iqmediacorp.com/4-ways-to-share-your-brands-media-mentions-with-media-intelligence/" appendQueryString="false" />
        </rule>
        <rule name="Blog Redirect" stopProcessing="true">
          <match url="^.*(\/bid\/[0-9]+\/)(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="http://blog.iqmediacorp.com/{R:2}/" appendQueryString="false" />
        </rule>
        <rule name="Signin">
          <match url="sign-in" />
          <action type="Redirect" url="/SignIn" />
        </rule>
        <rule name="about" stopProcessing="true">
          <match url="about" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!about-iq-media-corp-company/pyedt" appendQueryString="false" />
        </rule>
        <rule name="api" stopProcessing="true">
          <match url="api" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!solutions/qm6ol" appendQueryString="false" />
        </rule>
        <rule name="careers" stopProcessing="true">
          <match url="careers" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!iq-media-careers/mpjra" appendQueryString="false" />
        </rule>
        <rule name="copyright-abuse" stopProcessing="true">
          <match url="copyright-abuse" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!copyright/zxndw" appendQueryString="false" />
        </rule>
        <rule name="image-recognition" stopProcessing="true">
          <match url="image-recognition" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!media-intelligence-solutions/qm6ol" appendQueryString="false" />
        </rule>
        <rule name="impact-visualization" stopProcessing="true">
          <match url="impact-visualization" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!media-intelligence-solutions/qm6ol" appendQueryString="false" />
        </rule>
        <rule name="media-intelligence" stopProcessing="true">
          <match url="media-intelligence" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!media-intelligence-solutions/qm6ol" appendQueryString="false" />
        </rule>
        <rule name="organic-video" stopProcessing="true">
          <match url="organic-video" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!media-intelligence-solutions/qm6ol" appendQueryString="false" />
        </rule>
        <rule name="privacy" stopProcessing="true">
          <match url="privacy" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!privacy/ls127" appendQueryString="false" />
        </rule>
        <rule name="reporting" stopProcessing="true">
          <match url="reporting" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!customized-media-reports/se3a7" appendQueryString="false" />
        </rule>
        <rule name="security" stopProcessing="true">
          <match url="security" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!security/vu2e0" appendQueryString="false" />
        </rule>
        <rule name="solutions" stopProcessing="true">
          <match url="solutions" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="http://www.iq.media/#!iq-media-intelligence-platform-features/qa3al" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxUrl="2097151" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
      <add wildcard="/Customers*" destination="/solutions" />
      <add wildcard="/Results*" destination="/solutions" />
      <add wildcard="/Resources*" destination="/media-intelligence" />
      <add wildcard="/Services*" destination="/impact-visualization" />
      <add wildcard="/ProPrep*" destination="/impact-visualization" />
      <add wildcard="/Software*" destination="/api" />
      <add wildcard="/AboutUs*" destination="/about" />
      <add wildcard="/Company*" destination="/about" />
      <add wildcard="/FoundersClub" destination="." />
      <add wildcard="/FoundersClub/" destination=".." />
      <add wildcard="/" destination="http://www.iq.media" />
      <add wildcard="/Home*" destination="http://www.iq.media" />
    </httpRedirect>
  </system.webServer>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\v5.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="IQMedia.Shared.Utility.Log4NetLogger" additivity="true">
      <level value="ALL" />
    </logger>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <MessageSettings type="IQMedia.WebApplication.Config.Sections.MessageSettings, IQMedia.WebApplication">
    <!-- Time in seconds between checking for new tasks in the database -->
    <DiscoveryMessage>We are working hard getting all the data for you based on your terms. We can &lt;input value="continue" class="RefreshResult GreenFont" id="btnRefresh Data" type="button" alt="Continue" onclick="RefreshResult();" /&gt; to work for you or &lt;input value="stop" class="RefreshResult RedFont" id="btnRefresh Data" type="button" alt="stop" onclick="$(this).parent().parent().hide();" /&gt; with the results we have so far.</DiscoveryMessage>
    <DiscoveryNoDataAvailable>Data Not available, Try Again &lt;input value="Search Again" class="RefreshResult GreenFont" id="btnRefresh Data" type="button" alt="Continue" onclick="RefreshResult();" /&gt;</DiscoveryNoDataAvailable>
    <FileNotAvailableForDownload>File is not available to dowload</FileNotAvailableForDownload>
    <ErrorOnDownloadFile>Some error occurred while downloading file</ErrorOnDownloadFile>
    <ClipNotAvailableForDownload>Clip is not available to download</ClipNotAvailableForDownload>
    <ErrorOnDownloadClip>Some error occurred while downloading clip</ErrorOnDownloadClip>
    <ExportClipMsg>Clip Export request sent successfully.</ExportClipMsg>
    <ArticleNotSaved>Article not saved.</ArticleNotSaved>
    <ReportNotSaved>Report not saved</ReportNotSaved>
    <ArticleAlreadySaved>Article is already saved.</ArticleAlreadySaved>
    <ErrorOccurred>An error occurred in this process.  Please contact support@iqmediacorp.com.</ErrorOccurred>
    <ArticleSaved>Article Saved Successfully</ArticleSaved>
    <MissingArticleSaved>Article queued for inclusion in Feeds.</MissingArticleSaved>
    <ReportWithSameNameExists>Report with same name already exists.</ReportWithSameNameExists>
    <SearchWithSameNameExists>Search with same title already exists.</SearchWithSameNameExists>
    <ReportSaved>Report Saved Successfully.</ReportSaved>
    <SearchSaved>Search Saved Successfully.</SearchSaved>
    <DescriptionPage>Your app description page.</DescriptionPage>
    <ContactPage>Your contact page.</ContactPage>
    <RecordDeleted>Record deleted successfully</RecordDeleted>
    <RecordNotDeleted>Record not deleted</RecordNotDeleted>
    <MissingParameter>Missing required parameters</MissingParameter>
    <FileNotAvailable>File not available.Please try again later</FileNotAvailable>
    <ErrorWhileMovingFtp>Error while moving ftp file</ErrorWhileMovingFtp>
    <Success>Success</Success>
    <ErrorSavingFile>Error while saving file</ErrorSavingFile>
    <UnauthorizedAccess>Unauthorized Access</UnauthorizedAccess>
    <Error>Error</Error>
    <FileNotFound>file not found</FileNotFound>
    <AlreadyLoggedIn>You are already Logged In</AlreadyLoggedIn>
    <CredentialNotCorrect>Oops! the email and/or password is not correct.</CredentialNotCorrect>
    <NoResultFound>No Results Found</NoResultFound>
    <SearchWithSameFilterExists>Search with same filters already exist.</SearchWithSameFilterExists>
    <MaxLibraryReportItemsMsg>Maximum {0} item(s) will be included in report</MaxLibraryReportItemsMsg>
    <MaxLibraryEmailReportItemsMsg>Maximum {0} item(s) will be included in email</MaxLibraryEmailReportItemsMsg>
    <UGCFileNotAvailableForDownload>UGC file is not available to download</UGCFileNotAvailableForDownload>
    <UGCFileDownloadError>Some error occurred while downloading UGC file</UGCFileDownloadError>
    <UGCInvalidFileUploadError>Please upload valid UGC file</UGCInvalidFileUploadError>

    <IAgentQueryNameExist>Query name already exists</IAgentQueryNameExist>
    <IAgentQueryNameInserted>Query inserted successfully</IAgentQueryNameInserted>
    <IAgentQueryNameUpdted>Query updated successfully</IAgentQueryNameUpdted>
    <IQAgentMaxLimitExceeds>IQAgent maximum limit exceeded</IQAgentMaxLimitExceeds>
    <IQAgentDeleteMsg>IQAgent Request deleted successfully</IQAgentDeleteMsg>
    <AgentSuspendMsg>IQAgent Request suspended successfully</AgentSuspendMsg>
    <IQAgentDeleteErrorMsg>Some error occurred while deleting IQAgent Request</IQAgentDeleteErrorMsg>

    <IQNotificationExist>IQNotification settings already exists</IQNotificationExist>
    <IQNotificationSaved>IQNotification settings saved successfully</IQNotificationSaved>
    <IQNotificationMaxLimitExceeds>IQNotification maximum limit exceeded</IQNotificationMaxLimitExceeds>


    <SubscriptionSuccess>You have successfully subscribed to the Mobile Alert Service</SubscriptionSuccess>
    <UnSubscriptionSuccess>You have successfully unsubscribed from the Mobile Alert Service</UnSubscriptionSuccess>
    <SubscriptionFailed>Subscription failed</SubscriptionFailed>
    <UnSubscriptionFailed>Unsubscription failed</UnSubscriptionFailed>
    <SubscriptionInvalidID>Invalid ID</SubscriptionInvalidID>
    <SubscriptionInvalidAction>Invalid Action</SubscriptionInvalidAction>

    <ReportGenerationProgress>Report generation is in progress.</ReportGenerationProgress>
    <ClipUnableToEnqueForDownload>Unable to queue clip for download, please try again.</ClipUnableToEnqueForDownload>
    <SearchUpdated>Search Updated Successfully.</SearchUpdated>

    <MicrositeError>An error occurred, please try again.</MicrositeError>
    <LoginFailed>Login Failed</LoginFailed>
    <DeleteFailed>Delete Failed</DeleteFailed>
    <SetDefaultFailed>Set Default Action Failed</SetDefaultFailed>
    <SetDefaultEmailFailed>Set Default Email Action Failed</SetDefaultEmailFailed>
    <PageLoadErrorMessage>Error Occured</PageLoadErrorMessage>
    <InvalidSearchRequestForArticle>Invalid search request for selected media category</InvalidSearchRequestForArticle>
    <SelectOneMoreItemMessage>Atleast one record should be selected.</SelectOneMoreItemMessage>
    <MaintenanceMessage>Site is currently under maintenance.  Please check back in an hour</MaintenanceMessage>
    <ContentShareMessage>This content cannot be shared.</ContentShareMessage>
    <MaxEmailAdressLimitExceeds>A Maximum Of @@MaxLimit@@ Email Addresses are Allowed</MaxEmailAdressLimitExceeds>
    <InfoAlertMessage>We will be performing planned maintenance on the iQ media platform on Saturday, June 4th, from 7:30am-9:30am Eastern Time. During this time, the iQ media platform will be offline.&lt;br /&gt;&lt;br /&gt;News Feeds and Notification Alerts will pause during the maintenance window.  All feeds and alerts will catch up once service resumes. &lt;br /&gt;&lt;br /&gt;For any questions, please email us at &lt;a target="_top" href="mailto:support@iqmediacorp.com"&gt;support@iqmediacorp.com&lt;/a&gt;.</InfoAlertMessage>
    <InfoAlertHeader></InfoAlertHeader>

    <ChPwdRequired>All fields are required.</ChPwdRequired>
    <ChPwdCnfmPwdNotMtch>Password and Confirm Password doesn't match</ChPwdCnfmPwdNotMtch>
    <ChPwdCriteria>Input password doesn't satisfy criteria</ChPwdCriteria>
    <ChPwdSmOldPwd>New password must not be same as current password.</ChPwdSmOldPwd>
    <ChPwdSuccess>Password has been updated successfully.</ChPwdSuccess>
    <ChPwdWrongPwd>Wrong password entered.</ChPwdWrongPwd>

    <RsetPwdLinkExpired>The Reset Password link is expired, please try again.</RsetPwdLinkExpired>
    <RsetPwdRequired>All fields are required</RsetPwdRequired>
    <RsetPwdInvalidLoginID>Invalid Email</RsetPwdInvalidLoginID>
    <RsetPwdCnfmPwdNotMtch>Password and Confirm Password don't match</RsetPwdCnfmPwdNotMtch>
    <RsetPwdCriteria>Input password doesn't satisfy criteria</RsetPwdCriteria>
    <RsetPwdSuccess>Password has been updated successfully</RsetPwdSuccess>
    <RsetPwdInvalidDetail>Provided details are not valid, please try again.</RsetPwdInvalidDetail>
    <RsetPwdEmailSent>A reset link has been sent to your email address. This link will expire in two hours. &lt;br /&gt; Note: All previous links have been expired.</RsetPwdEmailSent>
    <RsetPwdEmailError>An email could not be sent, please try again.</RsetPwdEmailError>
    <RsetPwdEmailLimit>You have exceeded the maximum attempts to reset your password. Please contact support at support@iqmediacorp.com.</RsetPwdEmailLimit>
    <RsetPwdCaptchaEmpty>Captcha cannot be empty.</RsetPwdCaptchaEmpty>
    <RsetPwdInvalidCaptcha>Invalid Captcha.</RsetPwdInvalidCaptcha>
    <RsetPwdError>An error occurred in this process, please try again.</RsetPwdError>

    <ErrorUnhandled>Oops!...It seems wrong highway has been taken, &lt;a href=&quot;{0}&quot;&gt;Please try again.&lt;/a&gt;</ErrorUnhandled>

  </MessageSettings>

</configuration>