@{
    
    ViewBag.Title = "Media Intelligence for Smart PR & Marketing Professionals | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Learn how iQ media can help you do your job a little faster and just a little smarter." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Media Intelligence for Smart PR & Marketing Professionals">
    <meta itemprop="description" content="Learn how iQ media can help you do your job a little faster and just a little smarter.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/results/results_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/results/results_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Media Intelligence for Smart PR & Marketing Professionals">
    <meta name="twitter:description" content="Learn how iQ media can help you do your job a little faster and just a little smarter.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Media Intelligence for Smart PR & Marketing Professionals" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/solutions/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/results/results_header.png" />
    <meta property="og:description" content="Learn how iQ media can help you do your job a little faster and just a little smarter." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="Stylesheet" type="text/css" href="~/Css/results.css?v=1.2" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#liResults').siblings().removeClass('activeResult')
            $('#liResults').addClass('active');
        });        
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/results/results_header.png" class="img100" alt="media intelligence for smart pr and marketing professionals" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="blue-txt">we like to work with smart people (like you).</h1>
            <p>
                Television is still one of the most impactful marketing tools out there. That's
                why we focus on bringing the analytics and accountability of digital media to TV.
                Whether you're tapping into industry trends for your next product launch, or tracking
                your competitors cross channel, iQ media can help you do your job effectively and
                precisely.</p>
                <a id="marketing"></a>
        </div>
    </div>
</div>
<div class="jumbotron r-list">    
    <div class="col-sm-2 col-md-2 col-lg-2 r-title-img">
        <img src="~/images/home_new/results/mkt.png" alt="" />
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 r-title">
        <div style="background: #c7d36a;">            
            <h1>marketing</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <p style="padding-top: 15px;">
                        Proving ROI is something every marketer pains over. How do you prove the monetary
                        value of branding? What about creative? Your last earned media campaign? How do
                        you truly affect the bottom line in <span style="font-family:'lato-italic';">real revenue dollars?</span></p>
                    <p>
                        iQ media data suites seamlessly integrate the KPIs you care about and serve them
                        alongside important audience data on TV and online. You can easily draw real, second-by-second
                        data correlations about how your marketing efforts influence campaign and revenue
                        metrics, without any frustrating guesswork.
                    </p><a id="advertising"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="jumbotron r-list">
    <div class="col-sm-2 col-md-2 col-lg-2 r-title-img">
        <img src="~/images/home_new/results/adv.png" alt="" />
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 r-title">
        <div style="background: #f3b350;">
            <h1>advertising</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <p style="padding-top: 15px;">
                        When your clients ask you the tough questions on how TV affects their brand, how
                        do you answer? Before media intelligence, we made a lot of assumptions between what
                        happened on the big screen and what happened online.
                    </p>
                    <p>
                        With iQ media, we remove the need for sweeping assumptions. Our data suite converges
                        your reporting in one place so that every media buy is accountable to one holistic
                        data set—that way you can stop guessing and start proving the real return on every
                        buy and every campaign.
                    </p><a id="communications"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="jumbotron r-list">
    <div class="col-sm-2 col-md-2 col-lg-2 r-title-img">
        <img src="~/images/home_new/results/pr.png" alt="" />
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 r-title">
        <div style="background: #598ea2;">
            <h1>pr/communications</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <p style="padding-top: 15px;">
                        Being in public relations means mastering the unexpected. During calm or crisis, 
                        iQ media can help PR professionals with preparing leadership and communication stakeholders 
                        with the data and context they need to approach the media and the communities they serve.
                    </p>
                    <p>
                        We provide unprecedented access to highly-searchable historical television data so 
                        that you can spend less time searching for "clips" and more time planning your next move.
                    </p><a id="broadcasting"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="jumbotron r-list">
    <div class="col-sm-2 col-md-2 col-lg-2 r-title-img">
        <img src="~/images/home_new/results/broad.png" alt="" />
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 r-title">
        <div style="background: #b4b4da;">
            <h1>broadcasting</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <p style="padding-top: 15px;">
                        With more and more people engaging with television media on multiple screens, we
                        had to ask ourselves, "Why is television audience data living in a silo?"
                    </p>
                    <p>
                        What happens on television definitely affects the way your audience engages with
                        brands on social media, online and beyond. Whether you're researching exactly when
                        call volume spikes on a shopping networking, or how a recent guest appearance affected
                        your brand's social networks, iQ media data equips tv programmers with integrated
                        audience data in one place so you can carefully optimize every precious second of
                        broadcast.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="jumbotron" style="text-align: center; padding-top: 0;">
    <h1 class="grey-txt">no matter who you are, <span style="display:block;">we make media intelligence work for you.</span></h1>
    <div style="margin-top: 40px;">
        <a href="http://info.iqmediacorp.com/iq-media-request-a-demo" target="_blank" class="reqdemo-green" title="request a demo of the next big thing in media intellignece">request
            a demo</a>
    </div>
</div>
