@{
    
    ViewBag.Title = "iQ media: Smarter Than Media Monitoring";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Get to know the next big thing in media intelligence, and the people behind the movement." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="iQ media: Smarter Than Media Monitoring">
    <meta itemprop="description" content="Get to know the next big thing in media intelligence, and the people behind the movement.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/aboutus/aboutus_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/aboutus/aboutus_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="iQ media: Smarter Than Media Monitoring">
    <meta name="twitter:description" content="Get to know the next big thing in media intelligence, and the people behind the movement.">
    <!-- Open Graph data -->
    <meta property="og:title" content="iQ media: Smarter Than Media Monitoring" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/about/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/aboutus/aboutus_header.png" />
    <meta property="og:description" content="Get to know the next big thing in media intelligence, and the people behind the movement." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="Stylesheet" type="text/css" href="~/Css/aboutus.css" />
    <script type="text/javascript">
        $(function () {
            $('#liAbout').siblings().removeClass('active')
            $('#liAbout').addClass('active');
        });
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/aboutus/aboutus_header.png" class="img100" alt="about iQ media" />
</div>

<div class="jumbotron">
    <div class="container team">
        <div class="row" style="text-align: center;">
            <h1 class="blue-txt">we challenge the status quo.</h1>
            <div style="width:100%;position:relative;">
            <img src="~/images/home_new/aboutus/john.png" alt="john derham, iqmedia" id="imgJohn" 
                a-data="<div style='float: right;'><a href='mailto:jderham@iqmediacorp.com' style='margin-right:5px'><img src='../images/home_new/aboutus/email_icon.png' alt='' height='36px' width='36px'></a><a href='https://www.linkedin.com/in/johnpderham' target='_blank'><img src='../images/home_new/aboutus/linkedin_icon.png' alt='LinkedIn' height='36px' width='36px'></a></div><h2>john derham</h2><h3>Head of Strategy and Innovation</h3><p>John is the founder of iQ media. In his early career, John developed hands-on expertise in working with large databases and quantitative techniques. He was a pioneer in early marketing databases for targeting and risk management, which evolved into a successful technology startup that built predictive models used by large enterprises such as JP Morgan Chase, the Royal Bank of Scotland, Fleet Financial, MRU Holdings, and Advanta Corp.</p><p>John's career has been defined by creating business entities that have produced significant technological advances, but also significant investor returns. Coupling his desire for innovative technologies with exceptional financial returns, he has balanced risk and return through many different business sectors. Involved in various stages of development and growth, he has exceptional experience in managing through every cycle.</p>" 
                b-data="<h2>john derham</h2><h3>Founder & Head of Strategy and Innovation</h3><p>click on image to read more</p>"
            />
            <img src="~/images/home_new/aboutus/lakshmi.png" alt="lakshmi venkataswamy, iq media" id="imgLakshmi" 
                a-data="<div style='float: right;'><a href='mailto:lakshmi@iqmediacorp.com' style='margin-right:5px'><img src='../images/home_new/aboutus/email_icon.png' alt='' height='36px' width='36px'></a><a href='https://www.linkedin.com/pub/lakshmi-venkataswamy/2/5ba/812' target='_blank'><img src='../images/home_new/aboutus/linkedin_icon.png' alt='LinkedIn' height='36px' width='36px'></a></div><h2>lakshmi venkataswamy</h2><h3>CTO & Founder</h3><p>Lakshmi is a founder of iQ media and its Chief Technology Officer. An expert in database theory, he is also chief architect of the company’s media capture technology, enabling the company’s products to maintain an expanding searchable media research library and deliver rapid searches with high quality video playback of relevant segments selected by the customer.</p><p>Lakshmi’s career has included the delivery of applications that require practical implementation of very large database capabilities. He is also an expert in large modern IT infrastructure implementations.</p>" 
                b-data="<h2>lakshmi venkataswamy</h2><h3>Founder & CTO</h3><p>click on image to read more</p>"
            />
            <img src="~/images/home_new/aboutus/kye.png" alt="kye strance, iq media" id="imgKye" 
                a-data="<div style='float: right;'><a href='mailto:kstrance@iqmediacorp.com' style='margin-right:5px'><img src='../images/home_new/aboutus/email_icon.png' alt='' height='36px' width='36px'></a><a href='https://www.linkedin.com/in/kyestrance' target='_blank'><img src='../images/home_new/aboutus/linkedin_icon.png' alt='LinkedIn' height='36px' width='36px'></a></div><h2>kye strance</h2><h3>President & CEO</h3><p>Kye is responsible for iQ media’s operations, product strategy and development. He brings 20 years of enterprise software and technology expertise to the company.</p><p>He began his career in public relations and marketing enterprise software at Vocus beginning in sales, managing the consulting and services team, before moving into product management. Within the role of product management, Kye has created award winning software and built a presence in the speaking circuit as an expert in digital public relations.</p>" 
                b-data="<h2>kye strance</h2><h3>President & CEO</h3><p>click on image to read more</p>"
            />
            <img src="~/images/home_new/aboutus/tom.png" alt="tom perchinsky, iq media" id="imgTom" 
                a-data="<div style='float: right;'><a href='mailto:tom@iqmediacorp.com' style='margin-right:5px'><img src='../images/home_new/aboutus/email_icon.png' alt='' height='36px' width='36px'></a><a href='https://www.linkedin.com/pub/tom-perchinsky/9/2a4/248' target='_blank'><img src='../images/home_new/aboutus/linkedin_icon.png' alt='LinkedIn' height='36px' width='36px'></a></div><h2>tom perchinsky</h2><h3>SVP, Sales</h3><p>Tom is responsible for the iQ media direct sales organization. He brings 20 years of enterprise software and technology sales expertise to the company.</p><p>In his early career, Tom held corporate management positions at Avis. He then held senior sales management positions at Avian Software, Powered by Digital, and Vocus. Tom has extensive experience in the Communications and Media industries. A highly inspirational sales leader, Tom has managed both small and large teams that have consistently exceeded their sales targets. His recent career has focused on large commercial enterprises including Universities, Federal Government, Non-Profits, and major consumer brands.</p>"
                b-data="<h2>tom perchinsky</h2><h3>SVP, Sales</h3><p>click on image to read more</p>"
            />
            <div id="divDetail" style="display: none; z-index: 1; position: absolute; border: 1px solid #d6d6d6;
                background: #ffffff; width: 100%;">
                <div class="a-arrow">
                </div>
                <div class="a-content">
                </div>
            </div>
            <div id="divDetailHover" style="display: none; z-index: 1; position: absolute; border: 1px solid #d6d6d6;
                background: #ffffff; width: 100%;">
                <div class="a-arrow">
                </div>
                <div class="a-content">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: #f3b350; color: #ffffff;">
    <div class="container">
        <div class="row">
            <h1>what we do</h1>
            <p>
                iQ media engages every marketer with better data, deeper analysis & a richer experience 
                in paid, earned, shared & owned media analytics across television, online, social & 
                first-party data sources.</p>
            <p>
                Our award-winning suite of analytics tools equip marketing & PR professionals with the 
                data they need to make smart, forward-thinking decisions about how to manage brand 
                reputation on television, online & beyond.</p>
        </div>
    </div>
</div>
<div class="jumbotron a-story-main" style="text-align: center;">
    <div class="container">
        <h1 class="green-txt" style="text-align: left;">
            our story</h1>
        <div style="margin-bottom: 25px; height: 100%;">
            <div class="col-sm-12 col-md-4 col-sm-4" style="position: relative;">
                <img src="~/images/home_new/aboutus/story_1.png" alt="iq media founders, john derham, lakshmi venkataswamy" />
                <div class="a-story">
                    <h3>
                        A Napkin and Two Barstools</h3>
                    John and Lakshmi teamed up nearly 25 years ago, forging an inseparable relationship that
                    made them pioneers of big data before it was a trendy word to use. Recognizing that
                    there were unique technology challenges in the media monitoring industry that nobody
                    was trying to overcome, John and Lakshmi felt that these issues were solvable with
                    the same approaches to data models and infrastructures that had been developed for
                    the banking industry. The two of them developed the entire plan of iQ media on the
                    bar napkin. <a href="http://blog.iqmediacorp.com/intro-to-the-iq-media-blog-the-beginning-of-media-intelligence/" target="_blank" class="green-txt">Learn more about their story.</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4"><img src="~/images/home_new/aboutus/story_2.png" alt="media intelligence story" /><div class="a-story"><h3>The Birth of Media Intelligence</h3>
                    Revolutions often come from an outlier, driven by someone who takes a very different
                    approach. John and Lakshmi felt they could provide this different approach to media
                    monitoring. Most importantly, they wanted to advance the old monitoring platforms into
                    the "Media Intelligence Age." The revolution of iQ media and <a href="http://blog.iqmediacorp.com/what-media-intelligence-really-means/" target="_blank" class="green-txt">the media intelligence
                    age</a> was born in an office over John's garage in rural Pennsylvania in 2010.
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4">
                <img src="~/images/home_new/aboutus/story_3.png" alt="iq media investors, gmh ventures" />
                <div class="a-story">
                    <h3>
                        iQ Investment</h3>
                    In 2011, iQ media received its first investment from GMH Ventures. iQ showed promise
                    and innovation which captured GMH's interest and ultimately resulted in their involvement
                    in our evolution. They were able to foresee the growth and expansion that was in store
                    for iQ and knew they had to take this opportunity to invest in the future of media intelligence.
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div style="height: 100%;">
            <div class="col-sm-12 col-md-4 col-sm-4">
                <img src="~/images/home_new/aboutus/story_4.png" alt="founding team at iq media" />
                <div class="a-story">
                    <h3>
                        Garage Sale</h3>
                    2012 ushered in big changes and improvements and spurred the decision to move the
                    company from above John's garage to an office in Doylestown, PA. During this time,
                    the company continued to grow and develop. Advancing in technology helped begin to
                    make a name for iQ media among the top names in media monitoring.
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4">
                <img src="~/images/home_new/aboutus/story_5.png" alt="iq media offices" />
                <div class="a-story">
                    <h3>
                        Moving Up & Out</h3>
                    In 2014, iQ media moved down the turnpike from Doylestown to an office right outside
                    Philadelphia in Conshohocken, PA. With the move to a larger office space, iQ continued
                    to grow and cultivate itself, stepping into the forefront of the media monitoring industry
                    and revolutionizing the media intelligence age.
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-4">
                <img src="~/images/home_new/aboutus/story_6.png" alt="iq media growth" />
                <div class="a-story">
                    <h3>
                        200% & Growing</h3>
                    Since the move to Conshohocken, the team has continued to flourish. With the opening
                    of offices in NYC & DC and constant expanding of departments, the company has jumped
                    from 13 employees to over 40 in 2014 and increasing to 80 by mid-2015. Using our numbers
                    for good, we have taken the opportunity to give back and help out in our community.
                    iQ media offers an opportunity to thrive and advance within the company, and we look
                    for innovation and determination in potential candidates. Find out what opportunities
                    are available at iQ on our <a href="~/careers" class="green-txt">Careers</a> page.
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron hiring" style="position: relative; color: #ffffff;">
    <div class="container">
        <div class="row">
            <h1>
                we’re hiring. <span style="display: block;">come challenge an industry!</span></h1>
                    <div style="text-align: center;margin-top:40px;">
                <a href="~/careers" class="reqdemo-white" title="we're hiring. come challenge an industry">current openings</a>
            </div>
        </div>
    </div>
</div>
<script>
    var _PreviousElement = null;
    var _PreviousElementHover = null;

    $('.team img').click(function (e) {
        $('#divDetailHover').hide();
        var divDetail = $('#divDetail');

        if (divDetail.is(':visible') && this == _PreviousElement) {
            divDetail.hide();
            $('#divDetailHover').show();
        }
        else {

            var top = $(this).position().top + $(this).height() + 20;
            var left = $(this).position().left + parseInt($(this).width() / 2) + 5;

            $('#divDetail .a-content').html($(this).attr('a-data'));
            $('#divDetail .a-arrow').css('left', left);
            divDetail.css('top', top);
            divDetail.show();
            e.stopPropagation();

        }

        _PreviousElement = this;
    });
    $('.team img').hover(function (e) {

        var divDetail = $('#divDetailHover');

        if (divDetail.is(':visible') && this == _PreviousElementHover) {
            divDetail.hide();
        }
        else {

            var top = $(this).position().top + $(this).height() + 20;
            var left = $(this).position().left + parseInt($(this).width() / 2) + 5;

            $('#divDetailHover .a-content').html($(this).attr('b-data'));
            $('#divDetailHover .a-arrow').css('left', left);
            divDetail.css('top', top);
            if (!$('#divDetail').is(':visible')) {
                divDetail.show();
                e.stopPropagation();
            }

        }
        _PreviousElementHover = this;
    });

    $('body').click(function () {
        $('#divDetail').hide();
    });
    /*
    $('.a-story-main img').hover(function () {
    var story = $(this).siblings('.a-story');
    if (!story.is(':visible')) {
    $(this).siblings('.a-story').show();
    }
    }, function () { $(this).siblings('.a-story').hide(); });*/

    $('.a-story-main img').mouseover(function () {
        var story = $(this).siblings('.a-story');
        $('.a-story').hide();
        story.show();

    });

    $('.a-story').mouseout(function () {
        $(this).hide();
    }
  );
 
        
</script>
