@{
    
    ViewBag.Title = "Streamlined Organic Video for Customers, Employees & Constituents | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Capture, deploy and analyze user-generated video content in one secure, white-label app." />
    <meta name="author" content="iQ media" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Streamlined Organic Video for Customers, Employees & Constituents">
    <meta itemprop="description" content="Capture, deploy and analyze user-generated video content in one secure, white-label app.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/OV/ov_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/OV/ov_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Streamlined Organic Video for Customers, Employees & Constituents">
    <meta name="twitter:description" content="Capture, deploy and analyze user-generated video content in one secure, white-label app.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Streamlined Organic Video for Customers, Employees & Constituents" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/organic-video/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/OV/ov_header.png" />
    <meta property="og:description" content="Capture, deploy and analyze user-generated video content in one secure, white-label app." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="canonical" href="“https://iqmediacorp.com/organic-video" />
    <link rel="Stylesheet" type="text/css" href="~/Css/fliq.css?v=1.2" />
    <script type="text/javascript">
        $(function () {
            $('#liProducts').siblings().removeClass('activeProducts')
            $('#liProducts').addClass('activeProducts');
        });
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/OV/ov_header.png" class="img100" alt="streamlined video marketing" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="green-txt">we help you produce exclusive <span style="display:block;">user-generated content.</span></h1>
            <p>
                Our white-label mobile applications empower your customers, employees, journalists
                and constituents to upload, edit, publish and analyze organic video in fully controlled
                and fully integrated application.</p>
        </div>
    </div>
</div>
<div class="jumbotron" style="padding-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cols-md-4 col-lg-4">
                <img src="~/images/home_new/OV/ov_iphone.png" class="ov-img100" style="margin-top: 20px;" alt="branded mobile video application" />
            </div>
            <div class="col-sm-12 cols-md-8 col-lg-8">
                <h1 class="orange-txt" style="margin-top:40px;">
                    how it works:</h1>
                <p>
                    Branded mobile apps can be custom built or integrated into existing apps through 
                    our API. The content is then uploaded directly to the platform by the user, 
                    reducing risk of public exposure. After the content is reviewed, videos can be 
                    published directly from the application to social or online channels.</p>
                <div style="margin-top: 40px;">
                    <a href="http://info.iqmediacorp.com/iq-media-request-a-demo" target="_blank" class="reqdemo-orange" title="request a demo of the next big thing in media intellignece">request
                        a demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: url(../images/home_new/ov/ov_img.png) no-repeat;
    background-size: 100% auto;color:#ffffff;">
    <div class="container">
        <div class="row">
            <h1>
                how do I organize <span style="display:block;">my content?</span>
            </h1>
            <p style="margin-left:300px;margin-top:20px;">
                With video driving the future of content marketing, we also developed these applications
                with content curation in mind. In addition to capturing organic video on the fly,
                our video platform also provides marketers with an easy way to gather, tag, and
                publish user-generated content like customer testimonials, tutorials and video contest
                submissions.
            </p>
        </div>
    </div>
</div>
<div class="jumbotron ov-captures" style="background: #598ea2;color:#ffffff;">
    <div class="container">
        <h1 style="text-align:center;">
            who captures organic video?
        </h1>
        <p style="text-align:center;margin-bottom:40px;" class="font30">
            Everyone takes mobile video, but not every video marketing program runs smoothly.
            Let us streamline it for you.
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ov-img">
                <img src="~/images/home_new/ov/employees.png" class="ov-img100" alt="employees" />
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h2 class="font30">
                    employees</h2>
                <p>
                    Have a booth at the next big trade show or industry event? You can easily increase
                    visibility for your next raffle or announcement by equipping all of your booth reps
                    with the power to capture and share content live on-site.
                </p>
                <p>
                    You'll bypass downloading huge files on clogged up conference WiFi when you can
                    capture, edit, approve and publish video in one application. Did we mention it lives
                    entirely in the cloud?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ov-img">
                <img src="~/images/home_new/ov/fans.png" class="ov-img100" alt="customers & fans" />
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h2 class="font30">
                    customers & fans</h2>
                <p>
                    Testing out a new video contest with your biggest fans? Ditch the hours spent hawking
                    over hashtags and social media mentions and empower your customers and fans to send
                    user-generated content directly to your marketing team.
                </p>
                <p>
                    You can easily edit, analyze and tag your content library for completely seamless
                    content curation.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ov-img">
                <img src="~/images/home_new/ov/constituents.png" class="ov-img100" alt="constituents" />
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h2 class="font30">
                    constituents</h2>
                <p>
                    How do you know what issues are really important to the public come election season?
                    Smart campaign managers know that they must be on top of what the public is saying
                    in order to run a successful political campaign.
                </p>
                <p>
                    Let constituents capture and share their opinions directly with their candidate
                    of choice. We make it easy for your staff to view, share, edit and respond to public
                    opinions so that you can beat your competition.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ov-img">
                <img src="~/images/home_new/ov/journalist.png" class="ov-img100" alt="journalists" />
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h2 class="font30">
                    journalists</h2>
                <p>
                    Your camera crew isn't always right by your side when news happens. That's why we've
                    developed our video platform to manage exclusive content in one secure, white label
                    application.
                </p>
                <p>
                    We make quick work of delivering eye witness accounts and live coverage to your
                    editors and producers, without unnecessary security concerns.
                </p>
            </div>
        </div>
        <div style="text-align: center; margin-top: 40px;">
            <a href="http://info.iqmediacorp.com/iq-media-request-a-demo" target="_blank" class="reqdemo-white" title="request a demo of the next big thing in media intellignece">request
                a demo</a>
        </div>
    </div>
</div>
