<div class="navbar">
    <ul class="nav floatNone sideMenuUl width100p" role="navigation" style="margin-bottom: 20px;"
        id="ulSoftwareNavigation">
        <li class="dropdown nagent" id="liOverview"><a id="drop1" href="~/Software" role="button"
            class="dropdown-toggle" data-toggle="dropdown">Overview<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown ndate" id="liDiscover"><a href="~/Software/Discover" id="drop2"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Discover<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nmedium" id="liCreate"><a href="~/Software/Create" id="A1" role="button"
            class="dropdown-toggle" data-toggle="dropdown">Create<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nsentiment" id="liEngage"><a href="~/Software/Engage" id="A2"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Engage<span class="spnArrow">&nbsp;</span></a>
        </li>
    </ul>
</div>
