@{
    
    ViewBag.Title = "iQ media Request A Demo";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    
}
<div style="position: relative">
    <ul>
        <li style="width:100%;">
            <img src="~/Images/Static/demo_header.png" alt="" style="width:100%;">
        </li>
        <li style="width:100%">
            <div style="text-align:center;">
                <iframe src="http://go.iqmediacorp.com/l/52572/2015-01-27/2ptw9" width="350px" height="650px" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
            </div>
        </li>
    </ul>
</div>