@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IQMediaMasterInner.cshtml";
}
<div class="row show-grid" id="divMedia_">
<div class="span9">
    <div class="span3">
        <div class="post-date span3">
            <span class="month">FEB</span><span class="today">11</span>
        </div>
        <div class="network span3">
            <img src="../images/MediaIcon/blog.png" /></div>
        <div class="span3" id="divSentimentTV_">
            <div class="span9">
                <div class="span9">
                    <div class="span6">
                        <div style="width: 12px;">
                            2</div>
                    </div>
                    <div class="span6">
                        <div style="width: 12px;">
                            12</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <a class="cursorPointer" onclick="LoadPlayer('123');">
            <img class="media-object" src="../images/video.png"></a>
        <div class="span9">
            <div class="span3">
                686,000</div>
            <div class="span3">
                9,500</div>
        </div>
    </div>
    <div class="span3">
        <div class="span9">
            <input type="checkbox" onclick="CheckUncheckMasterCheckBox(this.id,'ulMediaResults','chkInputAll');"
                id="chkdivResults_" value="" /></div>
        <h4 class="media-heading">
            <img src="" width="34" height="34">
            test title</h4>
        higlightedCC
    </div>
    </div>
</div>