<div class="header-right">
    <div>
        <div style="float: left;">
            UserID:
        </div>
        <div style="float: right;">
            <input type="text" id="txtEmail" />
        </div>
    </div>
    <div class="clear">
        <div style="float: left;">
            Password:
        </div>
        <div style="float: right;">
            <input type="text" id="txtPassword" />
        </div>
    </div>
    <div class="clear">
        <input type="button" id="btnLogIn" title="Log IN" class="submit" />
    </div>
</div>
@*<div class="clear TweetInnerDiv media" id="divMedia_">
    <div class="pull-left">
        <div class="post-date">
            <span class="month">FEB</span><span class="today">11</span></div>
        <div class="network">
            <img src="../images/MediaIcon/twitter.pmg"></div>
    </div>
    <div class="pull-left IQPremiumTweetImageDiv center">
        <a target="_blank" id="aActorLinkimage_" href="test">
            <img style="border-width: 0px;" src="../abc.gif" id="imgActor_"></a><br />
        <a class="cursorPointer saveMedia" rel="popover" href="#" onclick="ShowSaveArticle('');"
            id="lnlSaveTweet_">
            <img src="../images/save.png" alt="Save Tweet" title="Save Tweet" /></a></div>
    <div class="pull-left TweetBodyDivIQP borderBoxSizing">
        <div class="clear">
            <div class="pull-left TweetActorDisplayName">
                <a target="_blank" id="aActorLink_" href=""><span id="lblDisplayName_">test display
                    name</span> </a><span class="TweetSubdivFont">@</span><span class="TweetSubdivFont"
                        id="lblPrefferedUserName_">preffered name</span><br />
            </div>
            <div class="pull-right">
                <div class="pull-left TweetSubdivFont">
                    Klout Score:&nbsp;<span id="lblKloutScore_">25</span></div>
                <div class="pull-left TweetSubdivFont">
                    Followers:&nbsp;<span id="lblActorFollowers_">20</span>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="pull-left TweetSubdivFont">
                    Friends:&nbsp;<span id="lblActorFriends_">20</span></div>
            </div>
        </div>
        <div class="clear PaddingTopBottom1p TweetBodyText">
            <div class="div75pleft">
                <span id="lblTweetBody_">this is test summary sf jsdf sdsd fsdbfsdjbnfmnsd fsdf</span></div>
            <div class="TweetSubdivFont pull-right">
                <div class="clear lineHeight15" id="divSentiment_">
                    <div class="float-left">
                        Sentiment :</div>
                    <div class="float-right">
                        <div class="divSentimentMain">
                            <div class="divSentimentNeg">
                                <div style='width: 6px;'>
                                    1</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style='width: 6px;'>
                                    1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <input type="checkbox" onclick="CheckUncheckMasterCheckBox(this.id,'ulMediaResults','chkInputAll');"
            value="" id="chkdivResults_" /></div>
</div>*@ 