<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet'
    type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900'
    rel='stylesheet' type='text/css'>
<table style="width: 100%; font-family: 'Open Sans'">
    <tr>
        <td style="width: 100%;">
            <table id="divMedia_[[ID]]" style="border-bottom: 1px solid #cccccc; padding: 10px 0;
                width: 100%;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table style="margin-right: 10px;">
                                        <tr>
                                            <td style="background-color: #EEEEEE; color: #fff; width: 65px; height: auto; text-align: center;">
                                                <span style="text-transform: uppercase; display: block; font-size: 13px; font-weight: bold;
                                                    padding: 0px; background: #666666;">[[MONTH]]</span> <span style="background-color: white;
                                                        margin-left: 5%; text-align: center; width: 90%; z-index: 10; padding-bottom: 3px;
                                                        padding-top: 3px; font-size: 22px; font-weight: 600; display: block; color: #2B2B2B;">
                                                        [[date]]</span> <span style="font-weight: bold; font-size: 11px; color: #2B2B2B;
                                                            display: block;">[[TIME]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin: 10px 0 3px 0px;" align="center">
                                                <img src="/images/MediaIcon/[[MEDIAICON]]"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td>
                                                <h4 style="font-family: 'Open Sans'; font-weight: 600; margin-right: 10px;">
                                                    <a href="[[NEWS LINK]]" target="_blank" style="color: #333333;">[[NEWS TITLE]]</a></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin-top: 5px;">
                                                [[NEWS DESCRIPTION]]
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #F4F4F4;">
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 93px;">
                                </td>
                                <td style="width: 160px;">
                                    <table style="font-size: 11px; height: 15px; padding: 0px !important; text-align: center;
                                        margin-right: 35px;">
                                        <tr>
                                            <td>
                                                Sentiment :
                                            </td>
                                            <td style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box;
                                                border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White;">
                                                <span style="width: 0px;">0</span>
                                            </td>
                                            <td style="width: 25px; padding: 0px !important; background-color: #DEDEDE; color: White;">
                                                <span style="width: 0px;">0</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="margin-right: 35px; margin-top: 0px;">
                                    <span style="background: url(../images/view.png) no-repeat left 2px; margin-right: 35px !important;">
                                        Views 686,000</span><span style="background: url(../images/dollar.png) no-repeat left 2px;
                                            padding-left: 20px;">$9,500</span>
                                </td>
                                <td style="margin-right: 35px; min-width: 52px\9;" align="right">
                                    <a id="aShowNews_[[ID]]" target="_blank" href="[[NEWS LINK]]" style="">
                                        <img title="View Article" alt="View" src="../images/viewArticle.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table id="divMedia_[[ID]]" style="border-bottom: 1px solid #cccccc; padding: 10px 0;
                width: 100%;">
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 65px;">
                                    <table style="margin-right: 10px;">
                                        <tr>
                                            <td style="background-color: #EEEEEE; color: #fff; width: 65px; height: auto; text-align: center;">
                                                <span style="text-transform: uppercase; display: block; font-size: 13px; font-weight: bold;
                                                    padding: 0px; background: #666666;">[[MONTH]]</span> <span style="background-color: white;
                                                        margin-left: 5%; text-align: center; width: 90%; z-index: 10; padding-bottom: 3px;
                                                        padding-top: 3px; font-size: 22px; font-weight: 600; display: block; color: #2B2B2B;">
                                                        [[date]]</span> <span style="font-weight: bold; font-size: 11px; color: #2B2B2B;
                                                            display: block;">[[TIME]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin: 10px 0 3px 0px;" align="center">
                                                <img src="/images/MediaIcon/[[MEDIAICON]]"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box;
                                    -webkit-box-sizing: border-box;">
                                    <table>
                                        <tr>
                                            <td>
                                                <a id="aActorLink_[[ID]]" href="[[LINK]]" target="_blank"><span id="lblDisplayName_[[ID]]">[[DISPLAY
                                                    NAME]]</span> </a><span style="font-size: 11px; color: #999999;"></span><span id="lblPrefferedUserName_[[ID]]"
                                                        style="font-size: 11px; color: #999999;">[[PREFFERED NAME]]</span><br>
                                            </td>
                                        </tr>
                                        <tr style="padding: 1% 0%;">
                                            <td style="margin-top: 5px;">
                                                <span id="lblTweetBody_[[ID]]">[[TWITTER BODY]]</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" style="width: 130px;">
                                    <img id="imgActor_[[ID]]" src="[[TWITTER USER IMAGE]]" style="border-width: 0px;"><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #F4F4F4;">
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 93px;">
                                </td>
                                <td style="width: 160px;">
                                    <table style="font-size: 11px; height: 15px; padding: 0px !important; text-align: center;
                                        margin-right: 35px;" id="tableSentimentTW_[[ID]]">
                                        <tr>
                                            <td>
                                                Sentiment :
                                            </td>
                                            <td style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box;
                                                border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White;">
                                                <span style="width: 0px;">0</span>
                                            </td>
                                            <td style="width: 25px; padding: 0px !important; background-color: #DEDEDE; color: White;">
                                                <span style="width: [[POSITIVE SENTIMENT WIDTH]]px;">0</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="">
                                    <span style="margin-right: 35px;">Klout Score:&nbsp;<span id="lblKloutScore_[[ID]]">[[KLOUT
                                        SCORE]]</span></span> <span style="margin-right: 35px;">Followers:&nbsp;<span id="lblActorFollowers_[[ID]]">[[FOLLOWERS]]</span></span>
                                    <span style="margin-right: 35px;">Following:&nbsp;<span id="lblActorFriends_[[ID]]">[[FRIENDS]]</span></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table id="divMedia_[[ID]]" style="border-bottom: 1px solid #cccccc; padding: 10px 0;
                width: 100%;">
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 65px;">
                                    <table style="margin-right: 10px;">
                                        <tr>
                                            <td style="background-color: #EEEEEE; color: #fff; width: 65px; height: auto; text-align: center;">
                                                <span style="text-transform: uppercase; display: block; font-size: 13px; font-weight: bold;
                                                    padding: 0px; background: #666666;">[[MONTH]]</span> <span style="background-color: white;
                                                        margin-left: 5%; text-align: center; width: 90%; z-index: 10; padding-bottom: 3px;
                                                        padding-top: 3px; font-size: 22px; font-weight: 600; display: block; color: #2B2B2B;">
                                                        [[date]]</span> <span style="font-weight: bold; font-size: 11px; color: #2B2B2B;
                                                            display: block;">[[TIME]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin: 10px 0 3px 0px;" align="center">
                                                <img src="/images/MediaIcon/[[MEDIAICON]]"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding-right: 6px; font-size: 13px; font-family: 'Merriweather';">
                                    <table>
                                        <tr>
                                            <td>
                                                <h4 style="font-family: 'Open Sans'; font-weight: 600; margin-right: 10px;">
                                                    <img style="margin-right: 10px;" width="34" height="34" src="[[STATION LOGO]]" />
                                                    <span style="vertical-align: top;">[[TV TITLE]]</span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin-top: 5px;">
                                                [[TV HIGHLIGTING TEXT]]
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 130px;">
                                    <a style="cursor:pointer;">
                                        <img src="[[THUMBNAIL IMAGE]]"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #F4F4F4;">
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 93px;">
                                </td>
                                <td style="width: 160px;">
                                    <table style="font-size: 11px; height: 15px; padding: 0px !important; text-align: center;
                                        margin-right: 35px;" id="tableSentimentTV_[[ID]]">
                                        <tr>
                                            <td>
                                                Sentiment :
                                            </td>
                                            <td style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box;
                                                border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White;">
                                                <span style="width: 0px;">0</span>
                                            </td>
                                            <td style="width: 25px; padding: 0px !important; background-color: #DEDEDE; color: White;">
                                                <span style="width: [[POSITIVE SENTIMENT WIDTH]]px;">0</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="margin-top: 5px; margin-top: 0px;">
                                    <span style="background: url(../images/view.png) no-repeat left 2px; margin-right: 35px !important;">
                                        Views 686,000</span><span style="background: url(../images/dollar.png) no-repeat left 2px;
                                            padding-left: 20px;">$9,500</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <table id="divMedia_[[ID]]" style="border-bottom: 1px solid #cccccc; padding: 10px 0;
                width: 100%;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table style="margin-right: 10px;">
                                        <tr>
                                            <td style="background-color: #EEEEEE; color: #fff; width: 65px; height: auto; text-align: center;">
                                                <span style="text-transform: uppercase; display: block; font-size: 13px; font-weight: bold;
                                                    padding: 0px; background: #666666;">[[MONTH]]</span> <span style="background-color: white;
                                                        margin-left: 5%; text-align: center; width: 90%; z-index: 10; padding-bottom: 3px;
                                                        padding-top: 3px; font-size: 22px; font-weight: 600; display: block; color: #2B2B2B;">
                                                        [[date]]</span> <span style="font-weight: bold; font-size: 11px; color: #2B2B2B;
                                                            display: block;">[[TIME]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin: 10px 0 3px 0px;" align="center">
                                                <img src="/images/MediaIcon/[[MEDIAICON]]"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td>
                                                <h4 style="font-family: 'Open Sans'; font-weight: 600; margin-right: 10px;">
                                                    <a href="[[SOCIAL MEDIA LINK]]" target="_blank" style="color: #333333;">[[SOCIAL MEDIA
                                                        TITLE]]</a></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="margin-top: 5px;">
                                                [[SOCIAL MEDIA HIGHLIGHTING TEXT]]
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #F4F4F4;">
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 93px;">
                                </td>
                                <td style="width:160px;">
                                    <table style="font-size: 11px; height: 15px; padding: 0px !important; text-align: center;
                                        margin-right: 35px;">
                                        <tr>
                                            <td>
                                                Sentiment :
                                            </td>
                                            <td style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box;
                                                border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White;">
                                                <span style="width: 0px;">0</span>
                                            </td>
                                            <td style="width: 25px; padding: 0px !important; background-color: #DEDEDE; color: White;">
                                                <span style="width: [[POSITIVE SENTIMENT WIDTH]]px;">0</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="margin-top: 5px; margin-top: 0px; margin-right: 35px;">
                                    <span style="background: url(../images/view.png) no-repeat left 2px; margin-right: 35px !important;">
                                        Views 686,000</span><span style="background: url(../images/dollar.png) no-repeat left 2px;
                                            padding-left: 20px;">$9,500</span>
                                </td>
                                <td style="margin-right: 35px; min-width: 52px\9;" align="right">
                                    <a id="aShowNews_[[ID]]" target="_blank" href="[[SOCIAL MEDIA LINK]]" style="padding-left: 20px;">
                                        <img title="View Article" alt="View" src="../images/viewArticle.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
