<div class="navbar">
    <ul class="nav floatNone sideMenuUl width100p" role="navigation" style="margin-bottom: 20px;"
        id="ulServiceNavigation">
        <li class="dropdown nagent" id="liOverview"><a id="drop1" href="~/Services" role="button"
            class="dropdown-toggle" data-toggle="dropdown">Overview<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nmedium" id="liTraining"><a href="~/Services/Training" id="A1"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Training<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nsentiment" id="liSupport"><a href="~/Services/Support" id="A2"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Support<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown ndate" id="liConsulting"><a href="~/Services/Consulting" id="drop2"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Consulting<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nsentiment" id="liApi"><a href="~/Services/APIAccess" id="A3"
            role="button" class="dropdown-toggle" data-toggle="dropdown">API Integration<span
                class="spnArrow">&nbsp;</span></a> </li>
    </ul>
</div>
