@{
    ViewBag.Title = "iQ media BroadcastTV";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    More Coverage. Higher Quality.
    <br>
    Faster Access.</div>
<div class="clear">
    <p>
        cliQ delivers the best US broadcast TV Media Intelligence Platform available today.
        Our innovations have resulted in an <a id="A1" runat="server" href="~/Products/OptimizedMediaCloud"
            class="link-in-page">Optimized Media Cloud</a> that:</p>
    <ul class="link">
        <li>Makes more TV media available than you can find anywhere else.</li>
        <li>Provides access to full one-hour programs, or partial programs still in progress,
            within 10 minutes of airing.</li>
        <li>Optimizes massive media files for rapid search and retrieval.</li>
        <li>Delivers TV content in high quality format.</li>
    </ul>
    <p>
        We have pioneered the <a runat="server" href="~/Products/InlineMediaWorkspace" class="link-in-page">
            Inline Media Workspace</a>, with features such as Turbo Search, Parallel Preview,
        Instant Play, One-Click Sync, and Point &amp; Clipper – which combine to give you
        the most powerful productivity platform on the market for researching and repurposing
        fair use TV content.</p>
    <p>
        cliQ also gives you My iQ, an <a runat="server" href="~/Products/myiQStatic" class="link-in-page">
            Enterprise Media Center</a> in which you can categorize, index, and permanently
        store all the fair use TV video clips you make, as well as any User Generated Content
        videos you have uploaded. From My iQ, you can reuse your video clips as often as
        you like, and share them via email, Twitter, or on social platforms.</p>
    <p>
        Users of traditional TV monitoring services that have moved to cliQ tell us that
        they love the video quality, and they <em>really love</em> the speed at which they
        can work – accomplishing more with cliQ in 10 minutes than they can do in an hour
        using alternative systems.</p>
    <br />
</div>
