@{
    ViewBag.Title = "iQ media cliQ";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Step Up to Flexibility & High Productivity</div>
<div class="clear">
    <div class="gray-bg">
        cliQ: A Media Intelligence Platform</div>
    <p>
        cliQ is the innovative way to work with all forms of public media. Our customers
        use cliQ to better control their message, protect their brand, and power innovative
        communications outreach programs.<br>
        <br>
        cliQ is based on software advancements pioneered by iQ media. It overcomes the limitations
        inherent to monitoring services and empowers users to leverage TV video, online
        news, and social media content in ways that are not possible with traditional approaches.</p>
    <p>
    </p>
    <div class="gray-bg">
        cliQ is based on a unique three-level architecture:</div>
    <div style="margin-top: 10px; text-align: center;">
        <img src="../images/product.png" alt=""></div>
    <ul class="link">
        <li><a runat="server" href="~/Products/OptimizedMediaCloud" class="link-in-page">Optimized Media
            Cloud :</a> An extensive resource with direct links to massive media databases covering
            virtually all broadcast TV, online news, and social media – kept indefinitely available
            in the Cloud and optimized for rapid retrieval.</li>
        <li><a runat="server" href="~/Products/InlineMediaWorkspace" class="link-in-page">Inline Media
            Workspace:</a> A powerful toolset for quickly finding, pinpointing, and repurposing
            the media content that is most relevant to your needs.</li>
        <li><a runat="server" href="~/Products/myiQStatic" class="link-in-page">My iQ:</a> Advanced sharing
            and management capabilities that empower organizations to go beyond media monitoring
            to truly leverage the power of TV video, online news, and social media in outbound
            communications. Customers use My iQ to amass an arsenal of video clips and other
            media content that they keep in the Cloud for future use.</li></ul>
    <br />
</div>
