@{
    ViewBag.Title = "iQ media Products";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}

<div class="blue-title">
    Every Medium. Every Mention.
    <br>
    Every Day.</div>
<div class="clear">
    <p>
        Get ready to enter a whole new world of media leverage with cliQ, the Media Intelligence
        Platform that is shaking up the industry.</p>
    <p>
        What’s different about cliQ? For starters, we don’t throw content away like traditional
        media monitoring services do – so you can search a massively large and growing repository
        of media content in our <a runat="server" href="~/Products/OptimizedMediaCloud" class="link-in-page">
            Optimized Media Cloud</a>.</p>
    <p>
        We capture <a runat="server" href="~/Products/BroadcastTV" class="link-in-page">broadcast TV</a>,
        <a runat="server" href="~/Products/onlineNews" class="link-in-page">online news</a>, <a runat="server"
            href="~/Products/SocialMedia" class="link-in-page">social media</a>, and <a runat="server"
                href="~/Products/Twitter" class="link-in-page">Twitter</a> content and make it immediately
        searchable and available in full. We even enable you to upload your own <a runat="server"
            href="~/Products/UserGeneratedContent" class="link-in-page">User Generated Content</a>
        to store, manage, and share using cliQ’s powerful tools.
    </p>
    <p>
        @*cliQ is designed for fast retrieval, pinpointing, and repurposing of the media
        you need. Some services give you access to a 1-minute video clip long after the
        coverage aired; cliQ gives you immediate access to the full hour – or the partial
        hour if the show is still on air. It’s <a runat="server" href="~/InlineMediaWorkspace"
            class="link-in-page">Inline Media Workspace</a> greatly streamlines research
        and sharing processes, enabling you to do more in 10 minutes than is possible in
        an hour with alternative solutions.*@ Some services only give you access to a 1-minute
        video clip long after the coverage aired. cliQ is designed for fast retrieval, pinpointing,
        and repurposing of the media you need. It gives you immediate access to the full
        hour – or the partial hour if the show is still on air. It’s <a id="A1" runat="server"
            href="~/Products/InlineMediaWorkspace" class="link-in-page">Inline Media Workspace</a>
        greatly streamlines research and sharing processes, enabling you to do more in 10
        minutes than is possible in an hour with alternative solutions.
    </p>
    <p>
        With My iQ, cliQ gives you an <a runat="server" href="~/Products/myiQStatic" class="link-in-page">
            Enterprise Media Center</a> where you can index and permanently save vital media
        content.</p>
    <p>
        Media monitoring services discover the past. cliQ empowers you to shape the future.
    </p>
    <p>
        It is vital to be alerted to relevant mentions, helpful to have charts that improve
        understanding, and convenient to be able to share top stories – but these capabilities,
        which are common to media monitoring services, are only scratching the surface of
        what cliQ can do for you.</p>
    <p>
        cliQ is a full-range Media Intelligence Platform. It makes more media available,
        provides faster search and retrieval, and empowers you to keep and leverage high
        quality media excerpts in your outbound communications. With cliQ, you can better
        control your message, protect your brand, and promote your ideas.</p>
    <br />
</div>
