@{
    ViewBag.Title = "iQ media Inline Media Workspace";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Inline Media Workspace</div>
<div class="clear">
    <div class="gray-bg">
        Maximizing Return on Time Spent</div>
    <p>
        cliQ’s Inline Media Workspace empowers users to quickly find, pinpoint, and repurpose
        important media content. It is integrated into the way people naturally work with
        broadcast TV, online news, and social media, and includes an array of web-based
        tools that eliminate wasted time.</p>
    <strong>Find It Fast</strong><br>
    cliQ users spend less time searching and more time working with relevant media.
    That’s because searches are a snap with these tools:
    <ul class="link">
        <li><u>Turbo Search</u>: Returns results to complex queries from cliQ’s Optimized Media
            Cloud almost instantaneously</li>
        <li><u>Intelligent Drill-Down</u>: Enables users to qualify searches by DMA, program
            name, program type, publication name or type, airing date, and other filters to
            narrow the search results</li>
        <li><u>Proximity Detection</u>: Enables context search (e.g., find coverage where “congress”
            and “debt ceiling” are mentioned within 15 words of each other)</li>
        <li><u>Always-On Agents</u>: Search bots that users set up to evaluate TV, online news,
            and social media as it happens – continuously on a 24x7 basis. Users can be notified
            of a hit as quickly as 90 seconds after a mention on broadcast TV was aired</li>
    </ul>
    <strong>Pinpoint It Quickly</strong><br>
    The Inline Media Workspace is specifically designed for fast evaluation of search
    results, with no wasted time or extra steps. These facilities help users make rapid
    yet accurate decisions about video content:
    <ul class="link">
        <li><u>Parallel Preview</u>: See video immediately displayed along with its closed caption
            text</li>
        <li><u>One-Click Sync</u>: Jump directly to the content you want by simply clicking
            on your highlighted search term in the text</li>
        <li><u>Instant Play</u>: Immediately preview videos with a single click; there is no
            need for another access process</li>
    </ul>
    <strong>Clip It Precisely</strong><br>
    Once a great segment of relevant video is identified, users take advantage of cliQ’s
    Point and Clipper to repurpose it. The process really is as simple as point-and-clip:
    <ul class="link">
        <li><u>Visual Interface</u>: A slider bar is used to quickly set the approximate begin
            and end points of the clip</li>
        <li><u>Precision Assist</u>: Keyboard shortcuts enable users to edit the video clip
            down to the exact frame</li>
        <li><u>Ready for Reuse</u>: With a single click, the user sends a finished clip to the
            My iQ Enterprise Media Center. In just seconds, the clip is categorized, indexed,
            and ready for sharing in a wide variety of ways</li>
    </ul>
    <p>
        To learn more, download the product information document on the Inline Media Workspace.</p>
    <br />
</div>
