@{
    ViewBag.Title = "iQ media myiQ Static";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    My iQ</div>
<div class="clear">
    <div class="gray-bg">
        Your Enterprise Media Center</div>
    <p>
        Organizations that just monitor the media usually operate in react-mode or simply
        accumulate “mentions” for later reporting. They miss out on many opportunities to
        proactively leverage media coverage to their advantage, partly because they don’t
        have the tools to do it. My iQ changes all that, enabling organizations with a vision
        to take their communications programs to new levels.</p>
    Central to My iQ is the ability for users to create and maintain libraries of video
    clips, online news, and social media posts. In this way, an arsenal of high-value
    media is amassed over time and remains permanently available to the organization.
    My iQ includes these capabilities:
    <p>
        <strong>Media Management</strong></p>
    <ul class="link">
        <li><u>Clip Catalog</u>: User-created video clips, online news, and social media posts
            are categorized and made searchable with user-specified keywordsm</li>
        <li><u>Optimized Media Cloud Access</u>: My iQ keeps user clips in cliQ’s Optimized
            Media Cloud. The same tools used for rapid searches of broadcast media can also
            be used to find clips in the My iQ library</li>
        <li><u>Organizational Sharing</u>. Each individual user can have a separate My iQ library,
            and libraries can be shared to provide a true organizational media arsenal</li>
        <li><u>Fair Use Protection</u>: My iQ enables the appropriate response to Fair Use complaints
            while ensuring that your clips are not arbitrarily taken offline as happens often
            with external hosting services like YouTube<br>
        </li>
    </ul>
    <p>
        <strong>Sharing</strong></p>
    <ul class="link">
        <li><u>e-Clips</u>: Send emails of clips – it’s as easy as entering the destination
            email address</li>
        <li><u>Go Viral Boost</u>: Recipients can use cliQ tools to re-share clips to an exponentially
            expanding audience</li>
        <li><u>Social Media Links</u>: Instantly post clips to popular social media sites like
            Facebook and Twitter</li>
        <li><u>Clip-Casting</u>: Stream high quality clips from pages on a corporate website
            in one simple step</li>
        <li><u>Dynamic Video Gallery</u>: My iQ can embed a complete video gallery into a designated
            page on a corporate web site. Users click on thumbnails and video is streamed directly
            from My iQ</li>
    </ul>
    <p>
        <strong>User-Generated Content </strong>
    </p>
    <p>
        The capabilities described above are unique to the cliQ Media Intelligence Platform.
        Now imagine how powerful they become when User Generated Content (UGC) can be integrated
        into My iQ – and that’s exactly what cliQ delivers.</p>
    <p>
        UGC is a new way to increase media leverage, but traditional media monitoring services
        have no support for it. However, with My iQ, organizations can:
    </p>
    <ul class="link">
        <li><u>Upload UGC</u>: A virtually unlimited amount of UGC can be uploaded into the
            cliQ Media Intelligence Platform, where it is placed into the Optimized Media Cloud
            and management by My iQ</li>
        <li><u>UGC Clips</u>: The same tools that are used to search and clip broadcast TV content
            can also be used on an organization’s own content</li>
        <li><u>UGC Sharing</u>: The same My iQ facilities used to share broadcast content can
            be used to share an organization’s own content</li>
    </ul>
    <p>
        To learn more, download the product information document on the My iQ Enterprise
        Media Center.</p>
    <br />
</div>
