@{
    ViewBag.Title = "iQ media Online News";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    50,000 news sources. Real time data.</div>
<div class="clear">
    <p>
        cilQ provides instant access to a vast database of content from over 50,000 editorially
        managed online news sites. Included are major news organizations like these:</p>
    <img src="../images/Logo/News Logo.png" alt="NY Times, Wash Post, WSJ, LA Times, Chicago Tribune, SF Chronicle, Dallas Morning News, Atlanta Journal Constitution, Washinton Times, Associated Press, Reuters, Time, Newsweek, National Review, Financial Times" />
    <p>
        News items are added to cliQ’s Optimized Media Cloud in real time. Once there, you
        have permanent access to them because, as with cliQ’s broadcast TV media, online
        news content captured buy cliQ does not expire. The Optimized Media Cloud is a continuously
        expanding repository of searchable media.</p>
    <p>
        cliQ enables you to not only keep on top of relevant news coverage as it happens,
        you can also research news coverage on any given topic going back to when we first
        began to capture online news content. And you can add copies of important online
        news stories to your My iQ library, where you can keep them for later use.
    </p>
    <p>
        In a single query, you can direct cliQ to search online news and other media, such
        as broadcast TV, social media, and Twitter, in combination. cliQ’s Always-On Agents
        can also be used to track important news coverage when you are away from your desk,
        alerting you to any critical developments via smartphone, tablet, or email.</p>
    <br />
</div>
