@{
    ViewBag.Title = "iQ media Optimized Media Cloud";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Optimized Media Cloud</div>
<div class="clear">
    <div class="gray-bg">
        Making Relevant Content Immediately Reachable</div>
    <p>
        Today organizations can implement a Media Intelligence Platform, which empowers
        them to leverage broadcast TV, online news, and social media content in ways that
        were not possible until now. At the core of this transformation is an unseen but
        crucial technology breakthrough: the Optimized Media Cloud.</p>
    <p>
        Until now, broadcast media could only be “monitored.” It was available to users
        for just a temporary period – usually less than 90 days. Monitoring services did
        not make any provision for permanent user storage or the inclusion of user-generated
        content.</p>
    <p>
        cliQ’s Optimized Media Could removes those limitations with these capabilities:</p>
    <ul class="link">
        <li><u>Total Recall</u>. Media is available for longer periods – even indefinitely.
            The benefit to users is that dated TV, online news, and social media, which suddenly
            becomes important, can still be accessed through cliQ’s Optimized Media Cloud.<br>
        </li>
        <li><u>User Generated Content</u>. Customers can put their own user-generated content
            into the Optimized Media Cloud. cliQ also provides a way for enterprises to catalog
            and store all of their video clips in the Optimized Media Cloud.</li>
        <li><u>Multidimensional Optimization</u>. Media is optimized in several key ways: availability,
            accessibility, and quality. cliQ makes media available far longer, accessible far
            more quickly, and presented in a higher quality format.</li>
    </ul>
    <p>
        cliQ’s media access infrastructure is not hardware-based. It is a software solution
        that leverages and is compatible with modern Internet technology. All media, whether
        broadcast TV, online news, social media, or user-created video clips, is accessed
        through the Cloud. Users have instant access to media at all times from any Internet-capable
        platform.</p>
    <p>
        To learn more, download the product information document on the Optimized Media
        Cloud.</p>
    <br />
</div>
