@{
    ViewBag.Title = "iQ media Preparation";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Fast Sound Bite Preparation for Radio
</div>
<div class="clear">
    <p>
        Why do over 60 radio stations and programs – including some of the nation’s most
        popular hosts, rely on Pro Prep for creating great sound bites from broadcast TV?
    </p>
    <p>
        Some use Pro Prep because it incorporates a powerful search tool, an accumulating
        archive of broadcast content that is always there for research, and extremely user-friendly
        tools for clipping and saving fair use content.</p>
    <p>
        Others use Pro Prep because it empowers them to assemble their own custom library
        of relevant clips, rather than rely solely the broadcaster-provided clips that everyone
        else is using.</p>
    <p>
        iQ media enables you to search virtually every TV/Cable channel for “fair use audio.”
        If it was on TV or Cable it is most likely in our Optimized Media Cloud. You can
        find, clip, and save content in just seconds with our easy-to-use Point &amp; Clipper.
    </p>
    <p>
        <a target="_blank" class="link-in-page" href="http://www.iqmediacorp.com/ClipPlayer/default.aspx?ClipID=6a11df8c-89ca-4906-b610-aaa98f5824c5&TE=iZGAy3ctoirsk62csKd07OZPUyLM19sj&PN=bt9sZFac%2bKA%3d">
            Take the tour</a>, and find out what you are missing. Call us to talk about
        how Pro Prep can save your station time and money – while giving you a very powerful
        programming weapon.</p>
    <br />
</div>
