@{
    ViewBag.Title = "iQ media Social Media";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}

<div class="blue-title">
    Know what’s being said – and influence the conversation.</div>
<div class="clear">
    <p>
        cliQ gives you real time access to millions of social media platforms. You can track
        conversations and gossip over many sources, including blogs, forums, Facebook, Google+,
        YouTube, LinkedIn, and many more.
    </p>
    <p>
        Stay on top of sentiment – use cliQ’s easy sharing tools to push out positive opinions
        while getting ahead of negative PR. Join the conversation yourself, and drive the
        discussion into the direction you need it to take.
    </p><br />
</div>
