@{
    ViewBag.Title = "iQ media Twitter";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}

<div class="blue-title">
    Keep on top of the chatter. And make a few Tweets of your own.</div>
<div class="clear">
    <p>
        Twitter is a unique social medium because of its immediacy and condensed style.
        Now you can use cliQ to analyze Tweets in real time, based on a wide variety of
        conditions such as content, username, or links.</p>
    <p>
        Twitter is an important source of real time sentiment about people, places, and
        products. While any organization with a brand to protect needs to know what is being
        Tweeted about them, there is a major challenge that has to be overcome – the overwhelming
        volume of Tweets relative to the small number that you really need to know about.</p>
    <p>
        The Twitter relevance challenge is compounded by the rise of Twitter Bots – fake
        Twitter accounts that are actually software programs. Who cares what a program is
        Tweeting? Some estimate that well over half of all new Twitter accounts are Bots
        instead of real people. Trying to cut through all this volume can be a huge waste
        of time.</p>
    <p>
        cliQ solves this challenge with innovative algorithms that eliminate the 99% of
        Twitter content that you don’t care about. What is left is a (relatively) small
        database of highly relevant Twitter content that is made permanently available for
        searching in cliQ’s Optimized Media Cloud.</p>
    <p>
    In addition to our pre-screened set of Twitter data, you can direct cliQ to continuously
    search the entire Twitter data feed using your specific search terms.</p>
    <br />
</div>
