@{
    ViewBag.Title = "iQ media User Generated Content";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}

<div class="blue-title">
    Leverage your own video with web-centric sharing tools.</div>
<div class="clear">
    <p>
        cliQ is unique in the market by enabling customers to upload their own user-generated
        video content into our Optimized Media Cloud. Once there, all of cliQ’s power tools
        for making, sharing, and storing video clips can be used on this user-generated
        content.</p>
    <p>
        The ability to integrate your own video into the Optimized Media Cloud opens up
        an array of new ways to leverage media in your marketing and outbound communications
        programs. You can:</p>
    <ul class="link">
        <li>Excerpt footage of important meetings and events, and share clips with your customers
            and colleagues. </li>
        <li>Integrate your own video with relevant broadcast TV content.</li>
        <li>Create videos of special offers and send them via email, social media, or web links
            to your target customers and prospects.</li>
    </ul>
    <p>
        Some hosting sites such as YouTube can arbitrarily remove videos based on complaints
        by competitors or for any reason they deem valid. By hosting your video in cliQ’s
        Optimized Media Cloud, you are guaranteed that it is always available and accessible
        using the common web-centric tools that people use today:</p>
    <ul class="link">
        <li>You can email your clips to your audience, and they can play them on their smartphones,
            tablets, or computers.</li>
        <li>You can post your clips to important social media platforms such as Facebook and
            Twitter.</li>
        <li>You can stream your video clips to your own website, or even embed them into a presentation.</li>
    </ul>
    <p>
        Many organizations have a lot of in-house video, but they often have no way to leverage
        it with web-based tools. Only cliQ gives them the power to do just that – enabling
        customers to realize more value from their own user generated content.
    </p><br />
       
</div>

