<div class="navbar">
    <ul class="nav floatNone sideMenuUl width100p" role="navigation" style="margin-bottom: 20px;"
        id="ulResourcesNavigation">
        <li class="dropdown ndate" id="liEvents"><a href="~/Resources" id="drop2" role="button"
            class="dropdown-toggle" data-toggle="dropdown">Events<span class="spnArrow">&nbsp;</span></a>
        </li>
        @*<li class="dropdown nmedium" id="liWhitepapers"><a href="~/Resources/WhitePapers"
            id="A1" role="button" class="dropdown-toggle" data-toggle="dropdown">Whitepapers<span
                class="spnArrow">&nbsp;</span></a> </li>*@
        <li class="dropdown ndate" id="liCaseStudies"><a href="~/Resources/CaseStudies" id="drop2"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Case Studies<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown nsentiment" id="liProduct"><a href="~/Resources/ProductLiterature"
            id="A3" role="button" class="dropdown-toggle" data-toggle="dropdown">Product Literature<span
                class="spnArrow">&nbsp;</span></a> </li>
        <li class="dropdown nsentiment" id="liBlog"><a target="_blank" href="http://info.iqmediacorp.com/blog"
            id="A2" role="button" class="dropdown-toggle" data-toggle="dropdown">Blog<span class="spnArrow">&nbsp;</span></a>
        </li>
    </ul>
</div>
