@{
    
    ViewBag.Title = "Media Intelligence for Marketing, Communications & PR Professionals | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Get a new kind of media intelligence platform that draws from over 14 million hours of broadcast content." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Media Intelligence for Marketing, Communications & PR Professionals">
    <meta itemprop="description" content="Get a new kind of media intelligence platform that draws from over 14 million hours of broadcast content.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/MI/mi_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/MI/mi_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Media Intelligence for Marketing, Communications & PR Professionals">
    <meta name="twitter:description" content="Get a new kind of media intelligence platform that draws from over 14 million hours of broadcast content.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Media Intelligence for Marketing, Communications & PR Professionals" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/media-intelligence/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/MI/mi_header.png" />
    <meta property="og:description" content="Get a new kind of media intelligence platform that draws from over 14 million hours of broadcast content." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="canonical" href="https://iqmediacorp.com/media-intelligence" />
    <link rel="Stylesheet" type="text/css" href="~/Css/cliq.css?v=1.2" />
    <script type="text/javascript">

        $(function () {
            $('#liProducts').siblings().removeClass('activeProducts')
            $('#liProducts').addClass('activeProducts');
        });        
        
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/MI/mi_header.png" class="img100" alt="media intellignece, real-time earned media analysis" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="green-txt">go ahead, track everything.</h1>
            <p>
                Our flagship platform makes it easy to immediately search, analyze and 
                transform television, digital and social media content surrounding your brand. 
                This award-winning technology allows marketers to analyze media impact on the 
                fly so that you can spend more time planning your next move.</p>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: #598ea2;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: center; margin-top: 60px;">
                <img src="~/images/home_new/mi/codie_logo.png" alt="CODiE 2015 SIIA CODiE WINNER"
                    style="display: inline-block" />
                <span style="font-family: 'lato-italic'; color: #ffffff; margin-top: 20px; display: inline-block;">
                    best software-as-a-service application</span>
                <div style="text-align: center; margin-top: 40px;">
                    <a href="http://info.iqmediacorp.com/iq-media-request-a-demo" target="_blank" class="reqdemo-gray" title="request a demo of the next big thing in media intellignece">request
                        a demo</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <img src="~/images/home_new/mi/mi_desk.png" class="img100" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cols-md-3 col-lg-3">
                <a href="~/pdf/EDMUNDS_SUCCESS.pdf" target="_blank" title="learn how edmunds.com leveraged media intelligence for ecoomerce">
                    <img src="~/images/home_new/MI/edmunds.png" class="img100" style="margin-top: 20px;" alt="edmunds.com logo" /></a>
            </div>
            <div class="col-sm-12 cols-md-9 col-lg-9">
                <p>
                    “iQ media is a big data company rather than just media monitoring. I think that was really valuable to my company, which values big data. We’ve been  big data since before big data was hot, <span style="font-family:'lato-bold';">so it made sense to go with iQ media.”</span></p>
                <p style="font-family: 'lato-italic';">
                    <span style="display: block;">-Stephanie Mar</span>Media Relations Manager at Edmunds.com
                </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron img-Header">
    <img src="~/images/home_new/MI/mi_desk2.png" class="img100" alt="media intelligence dashboard" />
</div>
<div class="jumbotron mi-pages">
    <div class="container">
        <h1 class="orange-txt" style="text-align:center; margin-bottom: 40px;font-size:63px;">
            how it works:</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    <img src="~/images/home_new/arrow.png?v=1.1" />
                    dashboard</h1>
                <p>
                    Our easy-to-use dashboard gives users a birds-eye view of exactly what's going on 
                    with your brand in the media. You can also upload your own KPIs and drill down 
                    into data points previously unavailable through any other platform.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    <img src="~/images/home_new/arrow.png?v=1.1" />
                    feeds</h1>
                <p>
                    We believe media intelligence is all about context. That's why we carefully organize 
                    and curate the content hitting your Feeds based on keywords ("iQ Agents") automatically. 
                    You can also quickly filter your results based on highly faceted search criteria like date, 
                    iQ Agent, medium, sentiment or article weight.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    <img src="~/images/home_new/arrow.png?v=1.1" />
                    discovery</h1>
                <p>
                    Designed for ad hoc research, Discovery enables you to quickly scale our entire
                    data infrastructure whenever you need it. Use Discovery to research your brand,
                    your competitors or even brands you admire.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    <img src="~/images/home_new/arrow.png?v=1.1" />
                    timeshift</h1>
                <p>
                    Our industry-exclusive, cloud-based technology allows PR and marketing professionals 
                    to research and analyze historical television content based on date, program detail, 
                    market and category. Timeshift also gives marketers the tools they need to quickly 
                    analyze and transform relevant clips, in one place.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    <img src="~/images/home_new/arrow.png?v=1.1" />
                    library</h1>
                <p>
                    Library allows you to review collected content indefinitely in the cloud, so you never 
                    have to download anything. With unlimited storage for reports, PDFs, tagged video clips 
                    and user-generated content, you'll never have to worry about your media assets "expiring."
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div style="margin-top: 40px; padding: 0;">
                    <a href="http://info.iqmediacorp.com/iq-media-request-a-demo" target="_blank" class="reqdemo-orange" title="request a demo of the next big thing in media intellignece">request
                        a demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="padding-left: 0px; padding-right: 0px; padding-top:0px;position: relative;
    height: 675px;">
    <img src="~/images/home_new/mi/mi_laptop.png" alt="media intellignece platform overview" style="float:right;width:50%;" />
    <div style="width: 500px; display: inline-block; margin-right: 37px;float:right;margin-top:5%;">
        <h1 class="green-txt">
            who uses media intelligence tools?</h1>
        <p style="margin-top: 40px;">
            We like to work with smart PR and marketing professionals looking to answer tough
            questions about how media impacts their brands.
        </p>
    </div>
</div>
<div class="jumbotron" style="background: #c7d36a; text-align: center; color: #ffffff;">
    <div class="container">
        <div class="row">
            <p class="font30" style="text-align: center;">
                Curious? Here's how we can help you do your job more efficiently:</p>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="mi-f-img">
                    <span></span>
                   <a href="~/solutions/#marketing" title="see how we can help marketers campaign smarter"><img src="~/images/home_new/mi/mi_mkt.png" alt="marketing" /></a>
                </div>
                <div class="mi-f-lbl">
                    marketing</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="mi-f-img">
                    <span></span>
                    <a href="~/solutions/#advertising" title="learn how we help advertising buy more efficiently"><img src="~/images/home_new/mi/mi_adv.png" alt="advertising" /></a>
                </div>
                <div class="mi-f-lbl">
                    advertising</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="mi-f-img">
                    <span></span>
                    <a href="~/solutions/#communications" title="find out how we help pr pros track earned media"><img src="~/images/home_new/mi/mi_pr.png" alt="public relations" /></a>
                </div>
                <div class="mi-f-lbl">
                    pr/communications</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="mi-f-img">
                    <span></span>
                    <a href="~/solutions/#broadcasting" title="learn more about media intelligence for broacasting"><img src="~/images/home_new/mi/mi_broad.png" alt="broadcasting" /></a>
                </div>
                <div class="mi-f-lbl">
                    broadcasting</div>
            </div>
        </div>
    </div>
</div>
