@model List<IQMedia.Model.fliQ_CustomerApplicationModel>
<style type="text/css">
    .topResult
    {
        font-size: 11px;
        border: 1px solid #D8D8D8;
    }
    
    .topResult tr th
    {
        padding: 4px;
    }
</style>
<div class="row-fluid row-custom">
    <!--/span-->
    <div class="btn-group">
        <a class="btn dropdown-toggle no-background" data-toggle="dropdown" href="#" id="aSortDirectionCustomerApp">
            <script type="text/javascript">
                SetDirectionHTMLCustomerApp();
            </script>
        </a>
        <ul class="dropdown-menu">
            <li class="cursorPointer"><a onclick="SortDirectionCustomerApp('Application',true);">
                Application Ascending</a></li>
            <li class="cursorPointer"><a onclick="SortDirectionCustomerApp('Application',false);">
                Application Descending</a></li>
            <li class="cursorPointer"><a onclick="SortDirectionCustomerApp('CustomerName',true);">
                Customer Name Ascending</a></li>
            <li class="cursorPointer"><a onclick="SortDirectionCustomerApp('CustomerName',false);">
                Customer Name Descending</a></li>
        </ul>
    </div>
</div>
<br />
<div class="span10 float-left" style="padding-bottom: 10px;">
    <div style="padding-top: 5px;" class="span2 float-left">
        Select Customer
    </div>
    <div class="span5 float-left">
        <input type="text" id="txtFliq_ClientCustomer" name="txtFliq_ClientCustomer" class="txtwidth90per"
            placeholder="Search Customer" />
    </div>
    <div style="padding-bottom: 10px;" class="float-left">
        <input type="button" style="margin: 0px;" class="button" onclick="SearchFliq_CustomerApplication();"
            value="Search" id="btnSearchFliq_CustomerApplication" />
        <input type="button" style="margin: 0px;" class="button" onclick="ClearFliq_CustomerApplication();"
            value="Clear Search" id="btnClearFliq_CustomerApplication" />
    </div>
</div>
<div style="clear: both;">
</div>
@if (Model != null && Model.Count > 0)
{
    <div id="divFliq_CustomerApplicationPreviousNext" class="nextprevdiv">
        <span id="lblFliq_CustomerApplicationRecords" style="float: left; padding: 5px 10px 0 0;">
        </span><a href="#" onclick="GetCustomerApplication(false);" id="btnFliq_CustomerApplicationPreviousPage"
            class="nextprevbtn">
            <img src="../../Images/prev.png" /></a> <a href="#" onclick="GetCustomerApplication(true);"
                id="btnFliq_CustomerApplicationNextPage" class="nextprevbtn">
                <img src="../../Images/next.png" /></a>
    </div>
    <div id="divFliq_CustomerApplication_ScrollContent" class="clear">
        <div class="float-left width100p" style="padding-right: 15px; margin-bottom: 10px;">
            <table class="topResult" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 15px;">
                @{ bool IsHeader = false; }
                @foreach (IQMedia.Model.fliQ_CustomerApplicationModel item in Model)
                {
                    if (!IsHeader)
                    {
                    <tr>
                        @{IsHeader = true; }
                        <th style="text-align: left;">
                            Application Name
                        </th>
                        <th style="text-align: left;">
                            Customer Name
                        </th>
                        <th style="text-align: left;">
                            IsActive
                        </th>
                    </tr>
                    }
                    <tr>
                        <td style="text-align: left;">
                            @item.Application
                        </td>
                        <td style="text-align: left;">
                            @item.CustomerFirstName @item.CustomerLastName
                        </td>
                        <td style="text-align: left;">
                            @item.IsActive
                        </td>
                    </tr> 
                }
            </table>
        </div>
    </div>
}
else
{
    <table width="100%" style="text-align: center;">
        <tr>
            <td>
                <span style="background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #DCDCDC;
                    margin-bottom: 10px; margin-right: 10px; padding: 3px 10px 3px 6px; position: relative;
                    width: 300px !important;">No Results found</span>
            </td>
        </tr>
    </table>
}