@{
    
    string firstname = Model.FirstName;
}

<script type="text/javascript">

var firstNamevalue = @firstname;
$('#divFirstName').value(firstNamevalue);
</script>

<div id="divFirstName">

</div>



