@{
    
    ViewBag.Title = "iQ media: Media intelligence for Broadcast Television, Online News & Social Media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <title>iQ media: Media intelligence for Broadcast Television, Online News & Social Media
    </title>
     <link rel="canonical" href="https://www.iqmediacorp.com" />
    <link href="~/Css/home.css?v=1.1" rel="Stylesheet" type="text/css" />
}
<div class="jumbotron" id="divMain" style="position: relative; color: #ffffff; text-align: center;
    padding: 0; width: 100%; height: 100%;">
    <div class="f-signin">
        <div class="container" style="width: 100%; height: 100%;">
            <div class="row" style="width: 100%; height: 100%; position: relative;">
                <div style="width: 100%; height: 100%; position: absolute; top: 10%; padding-left: 10%;">
                    <img alt="" src="~/images/home_new/iQ_logo.png" style="display: block;" />
                    <span class="f-spn-wlcm">welcome back</span> <span class="f-spn-login">login to our
                        media intelligence platform</span>
                    @Html.Partial("~/Views/SignInAdmin/_SignIn.cshtml")
                </div>
            </div>
        </div>
    </div>
    <div class="f-ressite">
        <div class="f-resources">
            <div class="container" style="width: 100%; height: 100%;">
                <div class="row" style="width: 100%; height: 100%; position: relative;">
                    <div style="width: 100%; height: 100%; position: absolute; top: 10%; padding-left: 17%;">
                        <span class="orange-txt" style="font-size: 40px; line-height: 44px; display: block; text-align: left;">about iQ media</span>
                        <div style="width: 100%; padding-top: 20px; text-align: left;">
                            <span id="spnOS">
                                <!--HubSpot Call-to-Action Code -->
                                <span class="hs-cta-wrapper" id="hs-cta-wrapper-495f7ef7-da87-44d7-a806-14500e9ff303">
                                    <span class="hs-cta-node hs-cta-495f7ef7-da87-44d7-a806-14500e9ff303" id="hs-cta-495f7ef7-da87-44d7-a806-14500e9ff303">
                                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                        <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/495f7ef7-da87-44d7-a806-14500e9ff303">
                                            <img class="hs-cta-img" id="hs-cta-img-495f7ef7-da87-44d7-a806-14500e9ff303" style="border-width: 0px;"
                                                src="https://no-cache.hubspot.com/cta/default/543382/495f7ef7-da87-44d7-a806-14500e9ff303.png"
                                                alt="resources" /></a> </span>
                                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                    <script type="text/javascript">

                                        hbspt.cta.load(543382, '495f7ef7-da87-44d7-a806-14500e9ff303', {});

                                    </script>
                                </span>
                                <!-- end HubSpot Call-to-Action Code -->
                                <!--HubSpot Call-to-Action Code -->
                                <span class="hs-cta-wrapper" id="hs-cta-wrapper-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4" style="display:none;">
                                    <span class="hs-cta-node hs-cta-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4" id="hs-cta-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4">
                                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                        <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4">
                                            <img class="hs-cta-img" id="hs-cta-img-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4" style="border-width: 0px;"
                                                src="https://no-cache.hubspot.com/cta/default/543382/6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4.png"
                                                alt="visit site" /></a> </span>
                                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                    <script type="text/javascript">

                                        hbspt.cta.load(543382, '6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4', {});

                                    </script>
                                </span>
                                <!-- end HubSpot Call-to-Action Code -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-oursite">
            <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;">
                <span style="font-size: 17vw; line-height: 16vw; font-family: 'avenir_65medium';
                    color: #D4DD8F;">iQ</span>
            </div>
            <div class="container" style="position: relative; width: 100%; height: 100%;">
                <div class="row" style="width: 100%; height: 100%; position: relative;">
                    <div style="position: absolute; width: 100%; height: 100%; top: 20%; padding-left: 17%;">
                        <span class="f-spn-resources">learn more about</span><span class="f-spn-resources">media intelligence</span>
                        <div style="width: 100%; text-align: left; padding-top: 20px;">
                            <div style="text-align: left; display: inline;">
                                <span id="spnRes">
                                    <!--HubSpot Call-to-Action Code -->
                                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-b568e1e4-641f-4e30-94a9-df1740587e3c">
                                        <span class="hs-cta-node hs-cta-b568e1e4-641f-4e30-94a9-df1740587e3c" id="hs-cta-b568e1e4-641f-4e30-94a9-df1740587e3c">
                                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                            <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/b568e1e4-641f-4e30-94a9-df1740587e3c">
                                                <img class="hs-cta-img" id="hs-cta-img-b568e1e4-641f-4e30-94a9-df1740587e3c" style="border-width: 0px;"
                                                    src="https://no-cache.hubspot.com/cta/default/543382/b568e1e4-641f-4e30-94a9-df1740587e3c.png"
                                                    alt="resources" /></a> </span>
                                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                        <script type="text/javascript">

                                            hbspt.cta.load(543382, 'b568e1e4-641f-4e30-94a9-df1740587e3c', {});

                                        </script>
                                    </span>
                                    <!-- end HubSpot Call-to-Action Code -->
                                    <!--HubSpot Call-to-Action Code -->
                                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-0287248a-6c84-44ab-90a2-ced3d0751b0e" style="display:none;">
                                        <span class="hs-cta-node hs-cta-0287248a-6c84-44ab-90a2-ced3d0751b0e" id="hs-cta-0287248a-6c84-44ab-90a2-ced3d0751b0e">
                                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                            <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/0287248a-6c84-44ab-90a2-ced3d0751b0e">
                                                <img class="hs-cta-img" id="hs-cta-img-0287248a-6c84-44ab-90a2-ced3d0751b0e" style="border-width: 0px;"
                                                    src="https://no-cache.hubspot.com/cta/default/543382/0287248a-6c84-44ab-90a2-ced3d0751b0e.png"
                                                    alt="resources" /></a> </span>
                                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                        <script type="text/javascript">

                                            hbspt.cta.load(543382, '0287248a-6c84-44ab-90a2-ced3d0751b0e', {});

                                        </script>
                                    </span>
                                    <!-- end HubSpot Call-to-Action Code -->
                                </span>
                            </div>
                            <div style="text-align: left; display: inline;">
                                <span id="spnSS">
                                    <!--HubSpot Call-to-Action Code -->
                                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-b3719544-1ae9-43cb-9b3a-5389579ca081">
                                        <span class="hs-cta-node hs-cta-b3719544-1ae9-43cb-9b3a-5389579ca081" id="hs-cta-b3719544-1ae9-43cb-9b3a-5389579ca081">
                                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                            <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/b3719544-1ae9-43cb-9b3a-5389579ca081"
                                                target="_blank">
                                                <img class="hs-cta-img" id="hs-cta-img-b3719544-1ae9-43cb-9b3a-5389579ca081" style="border-width: 0px;"
                                                    src="https://no-cache.hubspot.com/cta/default/543382/b3719544-1ae9-43cb-9b3a-5389579ca081.png"
                                                    alt="case studies" /></a> </span>
                                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                        <script type="text/javascript">

                                            hbspt.cta.load(543382, 'b3719544-1ae9-43cb-9b3a-5389579ca081', {});

                                        </script>
                                    </span>
                                    <!-- end HubSpot Call-to-Action Code -->
                                    <!--HubSpot Call-to-Action Code -->
                                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-5cd3340b-0dc8-4d41-b577-767a67ef6f12" style="display:none;">
                                        <span class="hs-cta-node hs-cta-5cd3340b-0dc8-4d41-b577-767a67ef6f12" id="hs-cta-5cd3340b-0dc8-4d41-b577-767a67ef6f12">
                                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                                            <a href="http://cta-redirect.hubspot.com/cta/redirect/543382/5cd3340b-0dc8-4d41-b577-767a67ef6f12"
                                                target="_blank">
                                                <img class="hs-cta-img" id="hs-cta-img-5cd3340b-0dc8-4d41-b577-767a67ef6f12" style="border-width: 0px;"
                                                    src="https://no-cache.hubspot.com/cta/default/543382/5cd3340b-0dc8-4d41-b577-767a67ef6f12.png"
                                                    alt="case studies" /></a> </span>
                                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                        <script type="text/javascript">

                                            hbspt.cta.load(543382, '5cd3340b-0dc8-4d41-b577-767a67ef6f12', {});

                                        </script>
                                    </span>
                                    <!-- end HubSpot Call-to-Action Code -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ResizeElements = function () {

        if ($(window).width() >= 768) {
            if ($(window).height() >= 657 && $(window).width() >= 1200) {
                var height = $(window).height() - $(".footer-bg").outerHeight();
                $("#divMain").css("height", height + "px");
            }
            else {
                $("#divMain").css("height", $(window).height() + "px");
            }
        }
        else {
            $("#divMain").css("height", "");
        }
    }

    $(function () {
        ResizeElements();
        $("#spnRes").hover(function () {
            $("#hs-cta-wrapper-b568e1e4-641f-4e30-94a9-df1740587e3c").hide();
            $("#hs-cta-wrapper-0287248a-6c84-44ab-90a2-ced3d0751b0e").show();
        }, function () {
            $("#hs-cta-wrapper-0287248a-6c84-44ab-90a2-ced3d0751b0e").hide();
            $("#hs-cta-wrapper-b568e1e4-641f-4e30-94a9-df1740587e3c").show();
        });

        $("#spnOS").hover(function () {
            $("#hs-cta-wrapper-495f7ef7-da87-44d7-a806-14500e9ff303").hide();
            $("#hs-cta-wrapper-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4").show();
        }, function () {
            $("#hs-cta-wrapper-6b36ff2c-b8cf-4052-a0f0-7b292cf89aa4").hide();
            $("#hs-cta-wrapper-495f7ef7-da87-44d7-a806-14500e9ff303").show();
        });

        $("#spnSS").hover(function () {
            $("#hs-cta-wrapper-b3719544-1ae9-43cb-9b3a-5389579ca081").hide();
            $("#hs-cta-wrapper-5cd3340b-0dc8-4d41-b577-767a67ef6f12").show();
        }, function () {
            $("#hs-cta-wrapper-5cd3340b-0dc8-4d41-b577-767a67ef6f12").hide();
            $("#hs-cta-wrapper-b3719544-1ae9-43cb-9b3a-5389579ca081").show();
        });
    });

    $(window).resize(function () { ResizeElements(); });

</script>
