@model Dictionary<string, string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iQ Radio Player</title>
    @*<link href="~/Css/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/feed.css?v=3.2" rel="stylesheet" type="text/css" />
    <link href="~/Css/Fonts.css" rel="stylesheet" type="text/css" />
    @*<link href="../../Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />*@
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js?v=1.0"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.9.1.min.js?v=1.0" type="text/javascript"></script>
    <link href="~/css/jquery.mCustomScrollbar.css?v=1.0" rel="stylesheet" type="text/css" />
    <!-- Customizable CSS -->
    @*<link href="~/css/MasterInner.css" rel="stylesheet" type="text/css" />*@
    <style type="text/css">
        body
        {
            font-family: 'Open Sans';
            padding-top: 40px;
        }
    </style>
</head>
<body id="mainBody">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #fff;">
        <!-- from desinger-->
        <div class="container">
        </div>
        <!-- from desinger-->
        <div class="navbar-inner navbar-custome">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand iqmedia-logo" href="#">
                    <img src="~/images/iq-media.png?v=1.3" width="155" height="45" alt="IQ Media" /></a>
                <div class="nav-collapse collapse">
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container container_custom">
        <div class="row-fluid" id="divRowFluid">
            <div style="min-height: 500px; padding: 25px;">
                <div style="padding-bottom: 5px; border-bottom: solid 1px #dadada; font-size: 18px;">
                    iQ Radio Clip Player
                </div>
                <br />
                @if (ViewBag.IsErrorOccurred == false)
                {
                    if (Model.ContainsKey("ClipRadioPlayer") && Model.ContainsKey("Transcript"))
                    {
                    <div align="center">
                        <div id="divClipPlayer">
                            <div id="divplayer" style="width:545px;">
                                <div class="divlibplayer" align="center">
                                    <img src="~/images/phonograph.png" class="imgradio" id="imgradio" alt="Radio" style="width: 125px;" />
                                    <div id="divAudio">
                                        <audio autoplay="autoplay" controls="controls" class="width100p"><source id="vidsrc" src="@Model["ClipRadioPlayer"]" id="audiosource" /></audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divCaptionHeader" class="show-hide cursorPointer" onclick="ShowHidedivCaption();"
                            style="max-width: 545px; margin-top: 15px;">
                            <div class="float-left">
                                <a href="javascript:;">
                                    <img alt="" id="imgShowHide" src="~/images/show.png">
                                    Transcript</a></div>
                        </div>
                        <div id="divHtml" style="margin-left: 0; color: #1F4D82; max-width: 545px; display: none;"
                            align="left">
                            <div id="divContentInner" class="clear" style="height: 300px;">
                                @Html.Raw(Model["Transcript"])
                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                    <div style="color: #ff0000; padding: 10px 10px 10px 10px;">
                        Some error occured while playing radio clip.
                    </div>
                    }
                }
                else
                {
                    <div style="color: #ff0000; padding: 10px 10px 10px 10px;">
                        Some error occured while playing radio clip.
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@*<script src="~/Scripts/jquery-ui-1.9.2.custom.min.js?v=1.0" type="text/javascript"></script>*@
@*<script src="../../Scripts/jquery-ui.min.js?v=1.0" type="text/javascript"></script>*@
<script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js?v=1.1" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    function ShowHidedivCaption() {
        if ($('#divHtml').is(':visible')) {
            $('#divHtml').hide('slow');

            $("#imgShowHide").attr('src', '../images/show.png')
        }
        else {
            $('#divHtml').show(500, $('#divContentInner').mCustomScrollbar("update"));
            $("#imgShowHide").attr('src', '../images/hiden.png')
        }
    }

    $(function () {
        $("#divContentInner").mCustomScrollbar({
            setTop: "0",
            advanced: {
                updateOnContentResize: true,
                autoScrollOnFocus: false
            }
        });
    });
</script>
</html>
