@{
    
    ViewBag.Title = "Image Recognition & Brand Monitoring as Seen & Heard On TV | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="We leverage first-to-market image recognition to hunt down even fractional pieces of your brand logo." />
    <meta name="author" content="iQ media" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Image Recognition & Brand Monitoring as Seen & Heard On TV">
    <meta itemprop="description" content="We leverage first-to-market image recognition to hunt down even fractional pieces of your brand logo.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/ImgRecog/ir_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/ImgRecog/ir_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Image Recognition & Brand Monitoring as Seen & Heard On TV">
    <meta name="twitter:description" content="We leverage first-to-market image recognition to hunt down even fractional pieces of your brand logo.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Image Recognition & Brand Monitoring as Seen & Heard On TV" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/image-recognition/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/ImgRecog/ir_header.png" />
    <meta property="og:description" content="We leverage first-to-market image recognition to hunt down even fractional pieces of your brand logo." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="canonical" href="https://iqmediacorp.com/image-recognition" />
    <link rel="Stylesheet" href="~/Css/imgrecog.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#liProducts').siblings().removeClass('activeProducts')
            $('#liProducts').addClass('activeProducts');
        });
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/ImgRecog/ir_header.png" class="img100" alt="image recognition, your band as seen & heard on tv" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="blue-txt">
                what you see isn’t always what you get.</h1>
            <p>
                You can't always control exactly how and when your brand logo is seen or heard on
                television—that's why our first-to-market brand recognition technology was developed
                to hunt down even the most fractional piece of your brand logo, every time it appears
                on television.
            </p>
        </div>
    </div>
</div>
<div class="jumbotron img-Header ir-hiw">
    <img src="~/images/home_new/ImgRecog/ir_hiw.png" class="img100" alt="how brand recognition works" />
    <div>
        <h1 class="orange-txt" style="width: 100%; text-align: center;">
            how it works:
        </h1>
        <p style="font-family: 'lato-italic';">
            We answer one (very complicated) question: What happens when your brand is seen
            or heard on TV?
        </p>
        <p>
            Users choose from over 10,000 brands and product logos to monitor, or upload their
            own to find out how and why their brand (or competitor's brand) is seen and heard
            on television. Then, we overlay important data like web traffic, social media engagement
            and financials so you can get a second-by-second instant replay of how television
            audiences react to your brand.
        </p>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="green-txt">
                image recognition is just the start.</h1>
            <p>
                Just seeing your logo appear isn't enough. That's why we've developed our image
                recognition technology to work in tandem with the iQ media platform to deliver a
                360° listening solution.</p>
            <p>
                See how it works with <a href="~/impact-visualization" class="green-txt">impact visualization.</a></p>
        </div>
    </div>
</div>
