<div>
    <div id="divBottomNavigation" class="row-fluid row-custom clearBorders">
        <div class="container primaryBotBorder" style="width:auto">
            <div class="navbar" style="margin-bottom:auto">
                @*<ul id="bottomShortNav" class="nav navbar-nav font14Pt cursorPointer marginLeft35">
                    <li id="liAgentDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Agent');">agent</a>
                    </li>
                    <li id="liCampaignDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Campaign');">campaign</a>
                    </li>
                    <li id="liDemographicDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Demographic');">demographic</a>
                    </li>
                    <li id="liDaytimeDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Daytime');">day/time</a>
                    </li>
                    <li id="liDaypartDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Daypart');">day/part</a>
                    </li>
                    <li id="liSourcesDetail" name="liSecondaryTab" class="">
                        <a onclick="return LoadSecondaryDetails('Sources');">sources</a>
                    </li>
                </ul>*@
                <ul id="bottomShortNav" class="nav navbar-nav font14Pt cursorPointer marginLeft35">
                    <li id="TSSTableTab">
                        <a id="TSSTableTabLink" onclick="TableSwitch('TSST');"></a>
                    </li>
                    <li id="MSTableTab">
                        <a id="MSTableTabLink" onclick="TableSwitch('MST');"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="AnalyticsSecondaryDetails">
    </div>
    <div id="TSSTable">
    </div>
    <div id="MSTable">
    </div>
</div>
