
@using (Html.BeginForm("LogOut", "LogOut"))
{
<div class="header-rightLogOut">
    <a href="/Feeds" class="return-iq">Return To Feeds</a> @*<input type="submit" value="Return To Feeds" class="ReturnFeed" />*@
    <input type="submit" value="Log Out" class="logout" />
</div>
}
