@{
    
    ViewBag.Title = "Integrated Custom Reporting & Consulting for Marketing & PR Data Analysis | iQ media";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
@section HeadSection
{
    <meta name="description" content="Let our quantitative marketing experts create and deliver custom marketing and PR reports for you." />
    <meta name="author" content="iQ media" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Integrated Custom Reporting & Consulting for Marketing & PR Data Analysis">
    <meta itemprop="description" content="Let our quantitative marketing experts create and deliver custom marketing and PR reports for you.">
    <meta itemprop="image" content="https://iqmediacorp.com/images/home_new/reporting/reporting_header.png">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="https://iqmediacorp.com/images/home_new/reporting/reporting_header.png">
    <meta name="twitter:site" content="&#64;iqmediacorp">
    <meta name="twitter:title" content="Integrated Custom Reporting & Consulting for Marketing & PR Data Analysis">
    <meta name="twitter:description" content="Let our quantitative marketing experts create and deliver custom marketing and PR reports for you.">
    <!-- Open Graph data -->
    <meta property="og:title" content="Integrated Custom Reporting & Consulting for Marketing & PR Data Analysis" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iqmediacorp.com/reporting/" />
    <meta property="og:image" content="https://iqmediacorp.com/images/home_new/reporting/reporting_header.png" />
    <meta property="og:description" content="Let our quantitative marketing experts create and deliver custom marketing and PR reports for you." />
    <meta property="og:site_name" content="iQ media" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:admins" content="394445033944927" />

    <link rel="canonical" href="https://iqmediacorp.com/reporting" />
    <link rel="Stylesheet" type="text/css" href="~/Css/analytiq.css?v=1.2" />
    <link rel="Stylesheet" type="text/css" href="~/Css/colorbox.css?v=1.0" />
    <script type="text/javascript">

        $(function () {

            $('#liProducts').siblings().removeClass('active')
            $('#liProducts').addClass('active');
        });
                
    </script>
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/reporting/reporting_header.png" class="img100" alt="custom media intelligence reporting" />
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="green-txt">let us do the leg work.</h1>
            <p>
                We all know what it's like to drown in report after report. That's why we also offer 
                additional expert custom reporting and infographics. We aggregate data from iQ media’s 
                technology infrastructure, software and third-party data to deliver greater knowledge 
                about what's most important to your brand or organization.</p>
            <div style="text-align: center; margin-top: 40px;">
                <a href="http://info.iqmediacorp.com/iq-media-contact-us" target="_blank" class="contactus">contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background: #598ea2; color: #fff;">
    <h1 style="margin-bottom: 40px; text-align: center;">
        how it works:</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <p>
                    Custom reports combine overlays from your financials, sales, website, demographics
                    and other data sources to create individualized data blueprints that are C-suite
                    ready.</p>
                <p>
                    Our quantitative marketing experts consult with in-house communications and marketing
                    teams, as well as public relations and advertising agencies to effectively and accurately
                    analyze impact measurement, coverage trend analysis and competitive intelligence.</p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <img src="~/images/home_new/reporting/rpt_charts.png" alt="how custom media reporting works" />
            </div>
        </div>
    </div>
</div>
<div class="jumbotron r-sample">
    <h1 style="margin-bottom: 40px; text-align: center;
        color: #f3b350;">
        want to see sample reports?</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="~/images/home_new/reporting/rpt_monitor.png" alt="sample media intelligence reports" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2>
                    monthly media highlights</h2>
                <h3>
                    <a href="~/images/home_new/reporting/monthly_hightlights.jpg" class="r-colorbox">analytics report</a></h3>
                <h2>
                    yearly event demographics</h2>
                <h3>
                    <a href="~/images/home_new/reporting/event_demographics.jpg" class="r-colorbox">analytics report</a></h3>
                <h2>
                    quarterly highlights</h2>
                <h3>
                    <a href="~/images/home_new/reporting/quarterly_highlights.jpg" class="r-colorbox">analytics report</a></h3>
                <h2>
                    media & digital trends</h2>
                <h3>
                    <a href="~/images/home_new/reporting/mediadigital_trends.jpg" class="r-colorbox">analytics report</a></h3>
                <div style="text-align: left; margin-top: 40px;">
                    <a href="http://info.iqmediacorp.com/iq-media-contact-us" target="_blank" class="contactus-orange">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.colorbox.js"></script>
<script>
    $('.r-colorbox').colorbox({ rel: 'r-colorbox' });
</script>