<div class="navbar" >
    <ul class="nav floatNone sideMenuUl width100p" role="navigation" style="margin-bottom: 20px;" id="ulAboutUsNavigation">
        <li class="dropdown nagent" id="liAboutUs"><a id="drop1" href="~/AboutUs" role="button"
            class="dropdown-toggle" data-toggle="dropdown">About Us<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown ndate" id="liManagementTeam"><a href="~/AboutUs_Old/ManagementTeam"
            id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Management
            Team<span class="spnArrow">&nbsp;</span></a> </li>
        <li class="dropdown nmedium" id="liInTheNews"><a href="~/AboutUs_Old/News" id="A1" role="button" class="dropdown-toggle"
            data-toggle="dropdown">In The News<span class="spnArrow">&nbsp;</span></a> </li>
        <li class="dropdown nsentiment" id="liCareers"><a href="http://iqmediacorp.hs-sites.com/careers-at-iq-media" id="A2" role="button"
            class="dropdown-toggle" data-toggle="dropdown" target="_blank">Careers<span class="spnArrow">&nbsp;</span></a>
        </li>
    </ul>
</div>
