@{
    ViewBag.Title = "iQ media Copyright Policy";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Copyright Abuse Policy</div>
<div class="clear">
    <p>
        iQ media Group LLC (“iQ media”) is committed to protecting the rights of copyright
        holders, including broadcast content owners. Among other protections, iQ media requires
        all users to limit their use of content in the iQ media database to fair uses and
        other non-infringing uses permitted by copyright law. By the same token, iQ media
        encourages rights holders to notify us of any infringements. We enforce a policy
        that provides for the termination of users who are repeat infringers.</p>
    <p>
        To file a copyright infringement notification with us, you will need to send a written
        communication that includes substantially the following (please consult your legal
        counsel or see Section 512(c)(3) of the Digital Millennium Copyright Act to confirm
        these requirements):</p>
    <ol class="copy">
        <li>A physical or electronic signature of a person authorized to act on behalf of the
            owner of an exclusive right that is allegedly infringed.</li>
        <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple
            copyrighted works at a single online site or location are covered by a single notification,
            a representative list of such works at that site or location.</li>
        <li>Identification of the material that is claimed to be infringing or to be the subject
            of infringing activity and that is to be removed or access to which is to be disabled,
            and information reasonably sufficient to permit iQ media to locate the material.
            <strong>Providing URLs in the body of an email, where practical, is the best way to
                help us locate content quickly.</strong></li>
        <li>Information reasonably sufficient to permit iQ media to contact the complaining
            party, such as an address, telephone number, and, if available, an electronic mail
            address at which the complaining party may be contacted.</li>
        <li>A statement that the complaining party has a good faith belief that use of the material
            in the manner complained of is not authorized by the copyright owner, its agent,
            or the law.</li>
        <li>A statement that the information in the notification is accurate, and under penalty
            of perjury, that the complaining party is authorized to act on behalf of the owner
            of an exclusive right that is allegedly infringed.</li>
    </ol>
    You may send written or email notification to our designated copyright agent at
    the following address:
    <div style="margin-left: 40px;">
        Attention: Copyright Agent
        <br>
        iQ media Group LLC<br>
        60 Garden Alley<br>
        Doylestown, PA 18901<br>
        <a href="mailto:copyright@iqmediacorp.com" style="color: #dc226f; text-decoration: none;">
            copyright@iqmediacorp.com</a>
    </div>
    <p>
        Please note that under Section 512(f) of the Digital Millennium Copyright Act any
        person who knowingly materially misrepresents that material or activity is infringing
        may be subject to liability for damages. <strong>Don't make false claims!</strong><br>
        Please also note that the information provided in this legal notice may be forwarded
        to the person who provided the allegedly infringing content.</p>
    <div class="gray-bg">
        Retractions</div>
    <p>
        After submitting a copyright infringement notification, copyright owners may realize
        they misidentified content or they may otherwise change their mind. You may submit
        a retraction by contacting our copyright agent at the postal and email address provided
        above. We are always glad to honor retractions of copyright claims from the party
        who originally submitted them.
        <br>
        Please note that under Section 512(f) of the Copyright Act, any person who knowingly
        materially misrepresents that material or activity was removed or disabled by mistake
        or misidentification may be subject to liability. Please also be advised that we
        enforce a policy that provides for the termination of users who are repeat infringers.</p>
    <div class="gray-bg">
        Counter-notifications</div>
    <p>
        If you are the subject of a copyright infringement notification and believe you
        possess all necessary rights to use content in the manner that is being complained
        about, you may wish to file a counter-notification under the Digital Millennium
        Copyright Act. To file a counter-notification with us, you must provide a written
        communication that sets forth the items specified below.</p>
    <p>
        Please understand that filing a counter-notification may lead to legal proceedings
        between you and the complaining party. Be aware that there may be adverse legal
        consequences in your country if you make a false or bad faith allegation by using
        this process.</p>
    <p>
        Please also be advised that we enforce a policy that provides for the termination
        of users who are repeat infringers, and our contracts also provide us with additional
        rights to terminate you or disable access to content in certain circumstances. If
        you are not sure whether certain material infringes the copyrights of others, we
        suggest that you first contact a lawyer.</p>
    <p>
        A counter-notification must include the following specific elements:</p>
    <ol class="copy">
        <li>Identification of the specific URLs (or other location) of material that iQ media
            has removed or to which iQ media has disabled access.</li>
        <li>Your full name, address, telephone number, email address, and the username of your
            iQ media account.</li>
        <li>The statement: &quot;I consent to the jurisdiction of the Federal District Court
            for the district in which my address is located, or if my address is outside of
            the United States, the judicial district in which iQ media is located, and will
            accept service of process from the claimant.&quot;</li>
        <li>The statement: &quot;I swear, under penalty of perjury, that I have a good faith
            belief that the material was removed or disabled as a result of a mistake or misidentification
            of the material to be removed or disabled.&quot;</li>
        <li>Signature. A scanned physical signature or a valid electronic signature will be
            accepted.</li>
    </ol>
    <p>
        We can only accept a counter-notification directly from the user from whose account
        material has been disabled. For verification, we require that counter-notifications
        be submitted from the email address associated with the account.</p>
    <p>
        After we receive your counter-notification, we will forward it to the party who
        submitted the original claim of copyright infringement. Please note that when we
        forward the counter-notification, it includes your personal information. By submitting
        a counter-notification, <strong>you consent to having your information revealed in this
            way.</strong></p>
    <p>
        After we send out the counter-notification, the claimant must then notify us within
        10 business days that he or she has <strong>filed an action seeking a court order to
            restrain you from engaging in infringing activity</strong> relating to the material
        that is the subject of the complaint. If we receive such notification we will be
        unable to restore the material. If we do not receive such notification, we may in
        our sole and absolute discretion reinstate access to the material.
    </p>
</div>
