@{
    ViewBag.Title = "iQ media How Are We Different";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Software Innovation and an Optimized Media Cloud</div>
<div class="clear">
    <p>
        iQ media is revolutionizing the media monitoring market. Traditional TV monitoring
        services are based on technology that was originally deployed back in the 1970s.
        Some have added attractive web front-ends, but they are still built on top of this
        decades-old infrastructure, which is largely hardware-centric.
    </p>
    <p>
        Hampered by their historic mindset, which was based on accumulating mentions for
        monthly or quarterly reports, traditional media monitoring services are simply not
        prepared for today’s always-connected world where the demand for fair use content
        is immediate.</p>
    <p>
        At iQ media, we recognized the challenge in servicing today’s information-hungry
        market as primarily one of scaling massive media databases. We developed the Optimized
        Media Cloud, which is powered by software innovations that we originated, based
        on large database theory. We built out an advanced media capture network, based
        on further innovations.</p>
    <p>
        As a result, we deliver a number of capabilities that you just can’t find anywhere
        else.</p>
    <p>
        Media in our Optimized Media Cloud never expires. Customers have access to millions
        of hours of broadcast TV content, going back much further than the typical 60 days
        you get with a media monitoring service.
    </p>
    <p>
        Our media is optimized for extremely rapid retrieval. For broadcast TV, we can find
        thousands of programs matching broad search terms in less than half a second. And
        we deliver the entire hour to you, ready for immediate playback and further searching.</p>
    <p>
        We deliver the fastest search results and the most intuitive Inline Media Workspace
        in the industry, enabling our customers to accomplish more in 10 minutes than is
        possible in an hour with traditional tools.
    </p>
    <p>
        We also empower our customers with an Enterprise Media Library in which they can
        save fair use content, amassing a competitive arsenal of highly relevant media.</p>
    <p>
        What’s different about iQ media? Our recognition that large database technology
        is the key to delivering a true Media Intelligence Platform, and our perseverance
        in building out a media management network that is the world’s most modern and responsive.</p>
    <br />
</div>
