@{
    ViewBag.Title = "iQ media Management Team";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages.cshtml";
}
@section HeaderImage
{
    <img src="~/Images/StaticBanner/About.jpg" alt="Management banner" />
}
@section Content
{
    <div class="span4">
        @Html.Partial("~/Views/AboutUs_Old/_Left.cshtml")
    </div>
    <div class="span14 span14pad">
        <p>
            iQ media’s management team combines a unique blend of expertise in technology startups,
            mass media marketing, software products, and very large databases. This combination
            has enabled us to revolutionize the media monitoring market with software innovations
            and a fresh approach to customer empowerment.</p>
        <div class="gray-bg clear">
            John Derham, CEO & Founder</div>
        <div class="img-left">
            <img src="~/images/MgmtTeam/John.png" alt="John Derham, CEO & Founder" border="0"
                class="border01" />
        </div>
        <p>
            John is the founder of iQ media and its CEO. In his early career,
            John developed hands-on expertise in working with large databases and quantitative
            techniques. He was a pioneer in early marketing databases for targeting and risk
            management, which evolved into a successful technology startup that built predictive
            models used by large enterprises such as JP Morgan Chase, the Royal Bank of Scotland,
            Fleet Financial, MRU Holdings, and Advanta Corp.</p>
        <p>
            John's career has been defined by creating business entities that have produced
            significant technological advances, but also significant investor returns. Coupling
            his desire for innovative technologies and exceptional financial returns, he has
            balanced risk and return through many different business sectors. Involved in various
            stages of development and growth, he has exceptional experience in managing though
            every cycle.
        </p>
        <p>
            John has held the most senior marketing executive positions at Advanta, MyRichUncle,
            and JP Morgan Chase where he was senior vice president of Marketing and Decision
            Sciences.</p>
        John holds a Finance Degree from the Villanova School of Business. He has continued
        to serve Villanova University for the past 12 years as an assistant coach and director
        of operations of its nationally ranked Division 1 Men's Lacrosse team. He is also
        an adjunct professor in Database Marketing at the Villanova School of Business.
        <div class="gray-bg clear">
            Kye Strance, President, Head of Products</div>
        <div class="img-left">
            <img src="~/images/MgmtTeam/kye.png" alt="Kye Strance, President, Head of Products"
                border="0" class="border01" />
        </div>
        <p>
            Kye is responsible for the iQ media product strategy and development. He brings
            20 years of enterprise software and technology expertise to the company.
        </p>
        <p>
            Kye’s career in technology began with the Federal Bureau of Investigation and then
            as a contractor for the US Navy in the ship design group. He began his 15 year career
            in public relations and marketing at Vocus beginning in sales, managing the consulting
            and services team, then in product management. Kye has in the role of product management
            created award winning software and built a presence in the speaking circuit as an
            expert in digital public relations.
        </p>
        <p>
            Kye holds a Bachelor’s degree from George Mason University.
        </p>
        <div class="gray-bg clear">
            Lakshmi Venkataswamy, CTO</div>
        <div class="img-left">
            <img src="~/images/MgmtTeam/Lakshmi.png" alt="Lakshmi Venkataswamy, CTO" border="0"
                class="border01" />
        </div>
        <p>
            Lakshmi is a founder of iQ media and its Chief Technology Officer. An expert in
            database theory, he is the originator of the company’s software innovations that
            give its Optimized Media Cloud the ability to scale massive media databases while
            providing sub-second query response times. He is also chief architect of the company’s
            media capture technology, enabling the company’s products to maintain an expanding
            media library and deliver rapid searches with high quality video playback.</p>
        <p>
            Lakshmi’s career has included the delivery of applications that require practical
            implementation of very large database capabilities. He is also an expert in large
            modern IT infrastructure implementations.</p>
        <p>
            Lakshmi served as Director of IT for a joint venture between Royal Bank of Scotland
            and Advanta, designing and directing implementation of an innovative database and
            processing platform for the UK credit card market. He also served as Senior Vice
            President, CIO, and Chief Technologist for Advanta Corporation in the USA. He has
            consulted with many companies on IT strategy.
        </p>
        <p>
            Lakshmi holds a BS in Electrical Engineering (Hons) from NIT, and a MBA in Finance
            from Drexel University.</p>
        <div class="gray-bg clear">
            Jeff Denton, Chief Strategy Officer</div>
        <div class="img-left">
            <img src="~/images/MgmtTeam/Jeff.png" alt="Jeff Denton, CSO" border="0" class="border01" />
        </div>
        <p>
            Jeff joined iQ media shortly after it was founded, and today is the company’s Chief Strategy Officer.
            His early career was centered in the banking and financial services industries.
            He held senior executive positions at PSFS, MBNA, and Advanta, where he served as
            vice president of Corporate Finance.</p>
        <p>
            Jeff has founded, funded, or participated in a number of startup companies and entrepreneurial
            endeavors, including First Equity Card Corporation. He brings a strong background
            in finance, forecasting, contracts, funding, strategic planning, and operational
            leadership to iQ media.</p>
        <p>
            Jeff holds a degree in Finance and Economics from LaSalle University, a JD degree
            from Widener University School of Law, and an MBA from Widener University.</p>
        <div class="gray-bg clear">
            Thomas Perchinsky, Senior Vice President, Sales</div>
        <div class="img-left">
            <img src="~/images/MgmtTeam/Tom.png" alt="Thomas Perchinsky, Senior Vice President, Sales"
                border="0" class="border01" />
        </div>
        <p>
            Tom is responsible for the iQ media direct sales organization. He brings 20 years
            of enterprise software and technology sales expertise to the company.
        </p>
        <p>
            In his early career, Tom held corporate management positions at Avis. He then held
            senior sales management positions at Avian Software, Powered by Digital, and Vocus.
            Tom has long experience in the Communications and Media industries. A highly inspirational
            sales leader, Tom has managed both small and large teams that have consistently
            exceeded their sales targets. His recent career has focused on large commercial
            enterprises including Universities, Federal Government, Non-Profits, and major consumer
            brands.
        </p>
        <p>
            Tom holds a Bachelor’s degree from Binghamton University.
        </p>        
       @* <div class="gray-bg clear">
            Stephen Gerrard, Vice President, Marketing</div>
        <div class="img-left">
            <img src="../../images/MgmtTeam/Steve.png" alt="Stephen Gerrard, Vice President, Marketing"
                border="0" class="border01" />
        </div>
        <p>
            Steve joined iQ media in 2012. He is a senior executive with substantial experience
            in software technology marketing, particularly at expansion-stage companies such
            as iQ media.</p>
        <p>
            Steve served as vice president of Marketing at software industry pioneer Applied
            Data Research in the 1980s, then the world’s largest software company. He has served
            in executive positions in marketing, international operations, and strategic planning
            at a number of expansion stage companies, including Princeton Softech, Connextive,
            Virtual Edge, Envoy Technologies, and Voxware.</p>
        <p>
            A member of the Edison Venture Fund Director Network, Steve founded Technology Marketing
            Associates, a marketing consultancy. He holds a degree in Communications from Ambassador
            University in England.</p>*@
        <br />
    </div>
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            SetHighligtedLi('ulAboutUsNavigation', 'liManagementTeam');
        });
    
    
    </script>
}
