@{
    ViewBag.Title = "iQ media OEM Partnerships";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    API Access to the Optimized Media Cloud</div>
<div class="clear">
    <p>
        Many companies are looking for a better way to integrate broadcast TV, online news,
        and social media into their products and services.
    </p>
    <p>
        Access to broadcast TV, in particular, has been hampered by the technology limitations
        of the infrastructure relied on by traditional suppliers. Among the problems are
        long search times, limited playback options, user-hostile toolsets that waste time,
        and the fact that broadcast media is deleted after a short period of availability
        – usually about 60 days.</p>
    <p>
        iQ media has developed breakthrough software and has built out a brand new, advanced
        technology infrastructure that solves those problems. We call it the Optimized Media
        Cloud, and now you can use our open APIs to integrate its power into your own products
        and services.</p>
    <p>
        With the Optimized Media Cloud, you can search an ever-expanding repository of US
        broadcast TV content, in which programming never expires. This capability alone
        will enable you to expand your products and services with new fair use applications
        that can drive increased revenue.</p>
    <p>
        Beyond providing access to the most US broadcast video, our Optimized Media Cloud
        gives you extremely fast search results, the ability to quickly synchronize the
        video to your keywords, and instant playback of up to a full hour of content. Your
        customers will be amazed at the blazing fast speed of searches and how quickly they
        can work with TV content once it is found.</p>
    <p>
        If you provide broadcast TV monitoring services as part of your solution portfolio,
        you are no doubt struggling with the problems inherent to traditional capture technology.
        It’s time that you evaluated iQ media’s Optimized Media Could. You’ll be glad that
        you did.</p>
    <br />
</div>
