<div class="navbar">
    <ul class="nav floatNone sideMenuUl width100p" role="navigation" style="margin-bottom: 20px;"
        id="ulLegalNavigation">
        <li class="dropdown nagent" id="liOverview"><a id="drop1" href="~/Legal" role="button"
            class="dropdown-toggle" data-toggle="dropdown">Overview<span class="spnArrow">&nbsp;</span></a>
        </li>
        <li class="dropdown ndate" id="liCopyrightAbusePolicy"><a href="~/Legal/CopyrightAbusePolicy"
            id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Copyright
            Abuse Policy<span class="spnArrow">&nbsp;</span></a> </li>
        <li class="dropdown nmedium" id="liPrivacyStatement"><a href="~/Legal/PrivacyStatement"
            id="A1" role="button" class="dropdown-toggle" data-toggle="dropdown">Privacy Statement<span
                class="spnArrow">&nbsp;</span></a> </li>
        <li class="dropdown nsentiment" id="liSecurityStatement"><a href="~/Legal/SecurityStatement"
            id="A2" role="button" class="dropdown-toggle" data-toggle="dropdown">Security Statement<span
                class="spnArrow">&nbsp;</span></a> </li>
        @*<li class="dropdown nsentiment" id="liSafeHarbor"><a href="~/Legal/SafeHarbor" id="A3"
            role="button" class="dropdown-toggle" data-toggle="dropdown">Safe Harbor<span class="spnArrow">&nbsp;</span></a>
        </li>*@
    </ul>
</div>
