@{
    ViewBag.Title = "iQ media Collegiate Athletic Programs";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Collegiate Athletic Programs</div>
<div class="clear">
    <div class="gray-bg">
        Leveraged Media to Support Athletic Programs</div>
    <p>
        College athletic departments now have tools for leveraging broadcast TV video, online
        news, social media, and in-house video. With cliQ, they can do more than monitor
        coverage – they can leverage media in key outbound communications programs.</p>
    Communications and Sports Information Directors
    <ul class="link">
        <li>Monitor the college team brand, players, coaches, and the conference in real time</li>
        <li>Promote good PR and get out ahead of bad PR</li>
        <li>Share video clips and integrate them into outbound communications programs.</li>
        <li>Post video clips to social media sites and blogs</li>
        <li>Upload your own video content – such as press conferences, pep rallies, events,
            and community service initiatives – into cliQ’s Optimized Media Cloud, where you
            can clip it and share it using cliQ’s tools.</li>
    </ul>
    Athletic Department
    <ul class="link">
        <li>Monitor coverage of the institution’s teams, players, and coaches.</li>
        <li>Create video highlights of highlights, press conferences, or any relevant content,
            and share it with boosters.</li>
        <li>Create video documentation of the positive PR to the institution provided by Athletics
            to keep institution officials aware of the contribution being made</li>
    </ul>
    Ticket Sales, Marketing, Merchandising, and Fundraising
    <ul class="link">
        <li>Attract new corporate sponsors and retain existing ones</li>
        <li>Enhance communications with season ticket holders and fans</li>
        <li>Boost ticket sales, merchandising revenue, and promote new business development
            by integrating high quality video into outbound communications</li>
        <li>Integrate video clips into donor outreach and include a donation link right on the
            video page</li>
    </ul>
    Individual Athletic Programs
    <ul class="link">
        <li>Boost recruiting efforts by including well-packaged videos into outbound communications.</li>
        <li>Stay in front of key recruits with short video communications on timely subjects
            delivered to their smartphones, tablets, and laptops.</li>
        <li>Upload post-game film, highlights, and player/coach interviews to cliQ, where they
            can be clipped and stored in an organized video clip library</li>
    </ul>
    <br />
</div>
