@{
    ViewBag.Title = "iQ media Industries";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Leading Organizations Use cliQ</div>
<div class="clear">
    <p>
        Enterprises with a message to promote and a brand to protect use cliQ to leverage
        broadcast TV, online news, and social media content. cliQ empowers them to better
        control their message, proactively reach out to key constituents, and react quickly
        to developing events.</p>
    <div class="clear">
        <div class="gray-bg-box">
            <a id="A1" runat="server" href="~/Industries/PoliticalParties">Political Parties</a>
            <div>
                Organizations that support elected officials and candidates for office use cliQ
                to keep on top of breaking news, reinforce their message, improve communication
                with donors, and galvanize supporters.</div>
        </div>
        <div class="gray-bg-box" style="margin-right: 0px;">
            <a id="A2" runat="server" href="~/Industries/ProfessionalSports">Professional Sports
                Teams</a>
            <div>
                Leading franchises use cliQ to push out positive PR while staying aware of all coverage
                relating to their organization and issues in their business.</div>
            <br>
        </div>
        <div class="gray-bg-box">
            <a id="A3" runat="server" href="~/Industries/University">Universities</a>
            <div>
                Higher education institutions use cliQ to improve public relations, boost fundraising,
                assist in student recruitment, and add a new dimension to faculty research.</div>
        </div>
        <div class="gray-bg-box" style="margin-right: 0px;">
            <a id="A4" runat="server" href="~/Industries/CollegiateAthleticPrograms">Collegiate
                Athletic Programs</a>
            <div>
                University athletic departments use cliQ to stay on top of team and athlete coverage,
                leverage media in alumni relations, and improve athletic department communications.</div>
        </div>
    </div>
    <div class="gray-bg">
        PR, Advertising, Publicist and Talent Agencies</div>
    <p>
        Agencies use cliQ to better serve their clients and to provide next-generation media
        leveraging services that are not possible with traditional media monitoring.</p>
    <div class="gray-bg">
        Major Brands</div>
    <p>
        Any enterprise with a public brand can use cliQ not only to monitor coverage of
        the brand, but also to leverage media in outbound communications and to enhance
        revenues.</p>
    <div class="gray-bg">
        Religious and Charitable Organizations</div>
    <p>
        Non-profit organizations use cliQ to proactively communicate with their donors and
        push out positive stories with good PR value. They also stay on top of coverage
        of their organization and key issues that impact their mission.
    </p>
    <br />
</div>
