@{
    ViewBag.Title = "iQ media  Political Parties";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Political Parties</div>
<div class="clear">
    <div class="gray-bg">
        Playing Offense, not Just Defense</div>
    <p>
        When it comes to media coverage, political organizations are often in “react mode,”
        scrambling to either capitalize on good coverage or contain the damage caused by
        negative or wrongheaded coverage.</p>
    <p>
        The most effective political organizations have learned how to proactively leverage
        media content – especially broadcast TV. They play offense, not just defense, and
        the results are seen on Election Day.</p>
    <p>
        To proactively leverage media content, you need modern technology. Yesterday’s media
        monitoring services keep you in react mode. In contrast, cliQ from iQ media is a
        Media Intelligence Platform with the full range of capabilities you need to go on
        the offense.</p>
    Political organizations use cliQ to:
    <ul class="link">
        <li>Reinforce positive coverage and push out good PR</li>
        <li>Keep financial supporters updated with compelling and relevant video content</li>
        <li>Research and track opponents’ positions and coverage</li>
        <li>Stay on top of local coverage even when away from the local area</li>
        <li>Maintain awareness of coverage issues and shorten reaction time</li>
        <li>Research past coverage of key legislative issues</li>
        <li>Track issues across media markets to understand nuances of local sentiment</li>
        <li>Keep informed even when not in the office or sitting at a computer</li>
        <li>Maximize staff time</li>
        <li>Build a competitive arsenal of high value video clips</li>
    </ul>
    <br />
</div>
