@{
    ViewBag.Title = "iQ media Professional Sports";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Professional Sports Teams</div>
<div class="clear">
    <div class="gray-bg">
        Leverage the Power of Broadcast TV, Online News, and Social Media</div>
    <p>
        Step up to new ways of integrating TV video clips and other media into corporate
        communications programs. Connect with fans, sponsors, and the public in ways that
        promote the power of your brand.</p>
    <ul class="link">
        <li>Monitor coverage of the team brand, players, coaches, and the conference in real
            time</li>
        <li>Promote good PR and get out ahead of bad PR</li>
        <li>Share video clips and integrate them into outbound communications programs</li>
        <li>Post video clips and other coverage to social media sites and blogs</li>
        <li>Upload your own non-broadcast video content – such as press conferences, events,
            and community service initiatives – into cliQ’s Optimized Media Cloud, where you
            can clip it and share it using cliQ’s tools</li>
        <li>Create video highlights of games, events, press conferences, or any relevant content,
            and share it with corporate sponsors</li>
        <li>Boost ticket sales, merchandising revenue, and promote new business development
            by integrating high quality video into outbound communications</li>
        <li>Enhance communications with season ticket holders and fans</li>
        <li>Upload post-game film, highlights, and player/coach interviews to cliQ, where they
            can be clipped and permanently stored in an organized video clip library </li>
    </ul>
    <br />
</div>
