@{
    ViewBag.Title = "iQ media University";
    Layout = "~/Views/Shared/_IQMediaMaster.cshtml";
}
<div class="blue-title">
    Universities</div>
<div class="clear">
    <div class="gray-bg">
        cliQ and Higher Education</div>
    <p>
        Universities are major brands. They have aggressive communications and development
        goals. cliQ gives forward-thinking institutions a new platform for leveraging the
        power of broadcast TV, online news, social media, and in-house created video content.</p>
    <p>
        Communications and Public Affairs</p>
    <ul class="link">
        <li>Monitor and leverage what is being said about the university</li>
        <li>Promote good PR and get out ahead of bad PR</li>
        <li>Share video clips and integrate with social media portals seamlessly</li>
        <li>
        Upload institutional video, make clips, share them and manage a clip library
    </ul>
    Development and Fundraising
    <ul class="link">
        <li>Push out positive news coverage to benefactors</li>
        <li>Integrate video in outbound positive news stories</li>
        <li>Enhance alumni and booster outreach with high quality video</li>
        <li>Include donation links in video playout pages</li>
        <li>Host video galleries on the university website to improve donor interaction</li>
    </ul>
    New Student Recruitment
    <ul class="link">
        <li>Include video clips in the recruitment process via targeted email and social media
            outreach</li>
        <li>Create video clips from existing institutional videos to leverage their value more
            and to facilitate targeted communications of relevant sound bites to prospective
            students and their families</li>
        <li>Push out positive TV coverage to prospective students and their families.</li>
    </ul>
    Library Academic Research Platform
    <ul class="link">
        <li>Make cliQ available as a media research tool for faculty and students</li>
        <li>Enable faculty and students to acquire and repurpose video clips for their own projects</li>
    </ul>
    <br />
</div>
