@{
    
    ViewBag.Title = "iQ media Security Statement";
    Layout = "~/Views/Shared/_IQMediaMasterStaticPages_New.cshtml";   
}
<div class="jumbotron img-Header">
    <img src="~/images/home_new/security/security_header.png" class="img100" alt="security statement" />
</div>
<div class="jumbotron white-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="heading01 mbp3">
                            Security Statement</div>
                        <p class="small-text">
                            IQ Media provides state-of-the-art data security and privacy to our clients, ensuring
                            that your data is safe around the clock. IQ Media devotes significant resources
                            to continuously develop our world-class infrastructure. We know that security is
                            paramount to our clients – and we’ve made it our highest priority.<br />
                            When you subscribe to IQ Media, you will enjoy unsurpassed protection and peace-of-mind.</p>
                        <div class="clearfix heading02 mbp1">
                            Security Measures</div>
                        <p class="small-text" style="margin-left: 20px;">
                            • Continuous deployment of proven, up-to-date security technologies<br>
                            • Ongoing evaluation of emerging security developments and threats<br>
                            • Complete security redundancy throughout the entire architecture<br>
                            • Full commitment to a secure, scalable, hosted system<br>
                            • Complete third party security audit for all systems
                        </p>
                        <div class="clearfix heading02 mbp1 mtp3">
                            World-Class Security</div>
                        <p class="small-text">
                            We deliver a security infrastructure comprised of current, proven, cutting-edge
                            technologies. IQ Media delivers the most comprehensive security available – firewalls
                            and encryption devices sourced from leading Internet security vendors, configured
                            by expert professionals, and rigorously tested before going into production.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Physical Security</div>
                        <p class="small-text">
                            Production equipment is located in Newark, DE., at a facility which provides 24-hour
                            physical security, palm print and picture identification, redundant electrical generators,
                            redundant data center air conditioners and other back-up equipment designed to keep
                            servers continually up and running.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Perimeter Defense</div>
                        <p class="small-text">
                            Perimeters of production and corporate networks are protected by firewalls developed
                            by leading security vendors.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Data Encryption (provided upon request)</div>
                        <p class="small-text">
                            IQ Media offers 128-bit SSL for secure HTTP connections between client computers
                            and our servers.</p>
                        <p class="small-text">
                            The lock icon in the browser indicates that data is fully shielded from access while
                            in transit.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • User Authentication</div>
                        <p class="small-text">
                            Users access IQ Media only with a valid username and password combination, which
                            is optionally encrypted via SSL while in transmission.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Application Security</div>
                        <p class="small-text">
                            Our robust application security model prevents one IQ Media customer from accessing
                            another’s data.</p>
                        <p class="small-text">
                            This security model is reapplied with every request and enforced for the entire
                            duration of a user session.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Internal Systems Security</div>
                        <p class="small-text">
                            Inside of the perimeter firewalls, systems are safeguarded by network address translation,
                            port redirection, IP masquerading, non-routable IP addressing schemes, and more.
                            Exact details of these features are proprietary.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Operating System Security</div>
                        <p class="small-text">
                            IQ Media enforces tight operating system-level security by using a minimal number
                            of access points to all production servers.</p>
                        <p class="small-text">
                            We protect all hosts with strong passwords.</p>
                        <p class="small-text">
                            All hosts are maintained at each vendor’s recommended patch levels for security.</p>
                        <p class="small-text">
                            All hosts are hardened by disabling and/or removing any unnecessary users, protocols
                            and processes.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Database Security</div>
                        <p class="small-text">
                            Whenever possible, database access is controlled at the operating system and database
                            connection level for additional security.</p>
                        <p class="small-text">
                            Access to production databases is limited to a number of points.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Server Management Security</div>
                        <p class="small-text">
                            All data entered into the IQ Media application by a customer is owned by that customer.</p>
                        <p class="small-text">
                            IQ Media employees do not have direct access to the IQ Media production equipment,
                            except where necessary for system management, maintenance, monitoring, and back-ups.</p>
                        <p class="small-text">
                            IQ Media does not utilize any managed service providers. The IQ Media site operations
                            team provides all system management, maintenance, monitoring and back-ups.</p>
                        <div class="clearfix heading03 mbp1 mtp3">
                            • Reliability and Backup</div>
                        <p class="small-text">
                            All networking components, load balancers, Web servers, and application servers
                            are configured in a redundant configuration.</p>
                        <p class="small-text">
                            All customer data is automatically backed up to tape on a nightly basis. Back-up
                            tapes are moved to secure, fire-resistant off-site storage on a regular basis. Disaster
                            recovery plans are in place.</p>
                        <p class="small-text">
                            Note: Use of the IQ Media services are subject to the terms of use in the customer
                            license agreement. IQ Media may change its security infrastructure and/or this security
                            data sheet from time to time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
